
<html>
    <script>
        function printalert(form){
            debugger;
            
                alert("Succesfully sent. Waiting For Confirmation........!")
    
        }
    
       </script>
    <head>
        

        <style type="text/css">
          .TFtable{
            width:100%; 
             
          }
          .TFtable td{ 
            padding:1px; border:#4e95f4 1px solid;
          }
                .TFtable th{ 
            padding:5px; border:turquoise 1px solid;
                        background:turquoise;
          }
          /* provide some minimal visual accomodation for IE8 and below */
          .TFtable tr{
            background: #b8d1f3;
          }   
                .TFtable th{ 
            padding:7px; border:turquoise 1px solid;
                        background:turquoise;
          }
                /*  Define the background color for all the EVEN background rows  */
          .TFtable tr:nth-child(even){
            background: #dae5f4;
          }
             
            footer
{
background-color:black;

}

* {
box-sizing: border-box;
}
            
            /* Clearfix (clear floats) */
            .row::after {
              content: "";
              clear: both;
              display: table;
            }
            </style>
            
            <meta charset="utf-8">         
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            </head>
            
            <header class="header header_style_01">
                <nav class="megamenu navbar navbar-default" style="background-color: black;">
        
                
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            
                            <a href="index.html"><img src="static/img/mainlogo.png" width="90px" height="100px"  alt="" class="img-responsive logo"><img src="static/img/logo etstt.png" width="90px" height="40px"  alt="" class="img-responsive logo"></a>
            
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right hidden-md hidden-sm hidden-xs">
                               <br>
                            <ul class="nav navbar-nav navbar-right menu-top">
        
                                <li><a href="profilee"><H4 style="color:white;"><font size="02">HOME</font></style></H4></a></li>
                                <li><a href="fingerpage"><H4 style="color:white;"><font size="02">ADD FINGERPRINT</font></style></H4></a></li>
        
                                <li><a href="healthtips"><H4 style="color:white;"><font size="02">HEALTH TIPS</font></style></H4></a></li>
        
                                <li><a href="dissym"><H4 style="color:white;"><font size="02">CANCER SYMPTOMS</font></style></H4></a></li>
        
                                <li><a href="selectmed" href="about.html"><H4 style="color:white;"><font size="02">ORDER MEDICINES</font></style></H4></a></li>
        
                                <li><a href="docpro"><H4 style="color:white;"><font size="02">SEARCH DOCTORS</font></style></H4></a></li>
                               
                                <li><a href="#contactus"><H4 style="color:white;"><font size="02">CONTACT US</font></style></H4></a></li>
                                <br><li><a href="source"><H4 style="color:red;"><font size="02"><font color="black">................................................................................................................................................................................................................</font>SIGN OUT</font></style></H4></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
    <body>
        
        
                       
                         
                     <center>    
                        <div style="width: 100%;height:60px;background-color: white;float: left;">
                        </div>
                        
                        </center>
                        
            
                        </div><br><br>
    </body>
                               
<body>
<div style="width: 100%;height: 1020px;background-color:black">
           
             <center>
        <br><div style="width: 95%;height: 980px;background-color: cadetblue">
         <center>    
            <div style="width: 30%;height:980px;background-color: white;float: left;">
                   
                    <center> 
                    <table> 
                  
                        <tr><td><font color="white">....</font></td></tr>
                        <tr><td><font color="white">....</font></td></tr>
                        <tr><td><font color="white">....</font></td></tr>
                        <tr>
                            <td><b><font size="02">USER SETTING<font color="white">.........</font>   </font></b><br/><a href="useredit" >        
                                  
                                  <img src="static/img/set.gif" alt="" width="100" height="100" border="0"></a></td>
                         
                          <br>
                          
                              
                                <td><b><font size="02">MY HISTORY</font></b><br/><a href="myhistory" >
                              
                                    <img src="static/img/his.gif" alt="" width="100" height="100" border="0"></a></td></tr>
                                    
                          <tr><td><font color="white">....</font></td></tr>
                          <tr><td><font color="white">....</font></td></tr>
                          <tr><td><font color="white">....</font></td></tr>
                          <tr>
                              
                              <td><b><font size="02">FILL MEDI INFO</font></b><br/><a href="fillhis" >
                            
                                  <img src="static/img/fill.gif" alt="" width="100" height="100" border="0"></a></td>
                                  
                        
                       
                          
                  <td><b><font size="02">ORDER STATUS</font></b><br/><a href="medibookdetails" >
                              
                    <img src="static/img/orde.gif" alt="" width="100" height="100" border="0"></a></td>
                    
                  </tr><br>
                  <tr><td><font color="white">....</font></td></tr>
                  <tr><td><font color="white">....</font></td></tr>
                  <tr><td><font color="white">....</font></td></tr>
                         
                          <tr>
                               <td><b><font size="02">BOOKING</font></b><br/><a href="docpro" >
                              
                                   <img src="static/img/bo.png" alt="" width="100" height="100" border="0"></a></td>
                         <br>
                         
                           
                              <td><b><font size="02">BOOKING STATUS</font></b><br/><a href="finalbook" >
                              
                                  <img src="static/img/boo.png" alt="" width="100" height="100" border="0"></a></td>
                        </tr><br>
                        <tr><td><font color="white">....</font></td></tr>
                        <tr><td><font color="white">....</font></td></tr>
                        <tr><td><font color="white">....</font></td></tr>
                          <tr>
                               <td><b><font size="02">VIEW BILL</font></b><br/><a href="mybill" >
                              
                                   <img src="static/img/view.gif" alt="" width="100" height="100" border="0"></a></td>
                                   
                         <br>
                         <td><b><font size="02">FEEDBACK</font></b><br/><a href="feed" >
                              
                          <img src="static/img/fee.gif" alt="" width="100" height="100" border="0"></a></td>
                          
                  </tr><br>
                  
                  
                       
                    
     </table>
         
    </center>             
                
                </div>
             
             
                <div style="width:100%;margin:(0px,0px);padding:0px; height:980px;background-image: url(\\static\\img\\mediwall9.jpg);background-repeat:no-repeat;background-position:center;background-size:cover;">
                
                     <center>
                   
                       
                        <h1><center><br><img src="static/img/do.png" alt="sign up" width="100" height="100" border="0"></center>
                          <center> <p><font color="white" size="05">Doctor Booking<p></font><br>
                          </center><font color="black"><font size="00">
                       
                              <form method="POST" onsubmit="return printalert(this)">
                                  {% for d in data %}
                                {% csrf_token %}
                                <table style="width:750px;color:black;" cellspacing="10" class="table">  
                                    
                                   <for><tr><td><b><font color="white" >DEPARTMENT AND DOCTOR NAME          :</font></td><td><input id="sename" type="text"  name="depdoc" value=" {{d.4}}"   required=""></td></tr></for>
                                    <tr><td><b><font color="white">RE-ENTER DOCTOR NAME          :</font></td><td><input id="doc" type="text"  name="doc"    required=""></td></tr>
                                   <tr><td><b><font color="white">HOSPITAL NAME          :</font></td><td><input id="uename" type="text"  name="hosname" value="{{d.3}} "  required=""></td></tr>
                                   <tr><td><b><font color="white">LOCATION          :</font></td><td><input id="loc" type="text"  name="loccategory" value="{{d.2}}" required=""></td></tr>
                                    
                                      <tr><td><b><font color="white">USERNAME         :</font></td><td><input id="loc" type="text"  name="livename"  required=""></td></tr> 
                                        <tr><td><b><font color="white">USERID        :</font></td><td><input id="loc" type="text"  name="uid" value="{{d.0}}"  required=""></td></tr> 
                                        <tr><td><b><font color="white">DATE OF VISIT :</font></td><td><input type="date" name="db" value=""></td></tr>
                                        <tr><td><b><font color="white">
                                     Have You Previously Attended*</font>
                               </td>
                               
                                  
                                   <td>
                                           <input type="radio" name="experience" id="radio_experience" value="yes" ><b><font color="black">
                                           Yes
                                   </font>
                                   
                                   
                                       
                                               <input type="radio" name="experience" id="radio_experience" value="No" ><b><font color="black">
                                               No
                                               </font>
                                   
                                   
                                       
                                               
                                       </td>
                                   </tr>
                               
                               
                                     
                                    
                                     
                                       
                                          
                                           </div>
                                       </div>
                                   </div>
                                 </td></tr>
                                 <tr><td><li class="form-line" data-type="control_textarea" id="id_21">
                                   <label class="form-label form-label-top" id="label_21" for="input_21"> <b><font color="black">If Yes, state on which condition and when? </font></label>
                                   
                                 </li></td>
                                 <tr><td ><textarea name="msg" rows="10" cols="70" colspan="3" style="width:250px;height:150px;float:left;" ></textarea></td></tr>
                                     <tr> <td><li id="cid_12" class="form-input-wide" data-type="control_head">
                                       
                                            <b><font color="black"> Appointment Time you wish to have:</font>
                                           
                                           <span class="form-required">
                                               *
                                             </span>
                                           </h3>
                                           </label>
                                           <div id="cid_14" class="form-input-wide jf-required">
                                             <div class="form-single-column" data-component="checkbox">
                                               <span class="form-checkbox-item" style="clear:left">
                                                 <span class="dragger-item">
                                                 </span>
                                                 <input type="radio" class="form-checkbox validate[required]" id="input_14_0" name="time" value="10am-12pm" required="" />
                                                 <label id="label_input_14_0" for="input_14_0"><b><font color="black">10am-12 pm</font></label>
                                               </span>
                                               <span class="form-checkbox-item" style="clear:left">
                                                 <span class="dragger-item">
                                                 </span>
                                                 <input type="radio" class="form-checkbox validate[required]" id="input_14_1" name="time" value="12pm-2pm" required="" />
                                                 <label id="label_input_14_1" for="input_14_1"> <b><font color="black">12pm-2pm</font> </label>
                                               </span>
                                               <span class="form-checkbox-item" style="clear:left">
                                                 <span class="dragger-item">
                                                 </span>
                                                 <br>
                                                 <input type="radio" class="form-checkbox validate[required]" id="input_14_2" name="time" value="2pm-4pm" required="" />
                                                 <label id="label_input_14_2" for="input_14_2"> <b><font color="black">2pm-4pm</font> </label>
                                               </span>
                                               <span class="form-checkbox-item" style="clear:left">
                                                 <span class="dragger-item">
                                                 </span>
                                                 <input type="radio" class="form-checkbox validate[required]" id="input_14_3" name="time" value="4pm-6pm" required="" />
                                                 <label id="label_input_14_3" for="input_14_3"> <b><font color="black">4pm-6pm</font> </label>
                                               </span>
                                              
                                         </div>
                                       </div>
                                       <br>
                                      
                                        <label class="form-label form-label-top" id="label_21" for="input_21"> <b><font color="black">NOTE: Sundays Holiday </font></label>
                                     </li></td></tr>
                                       </div>
                                       
                                       </table><br>
                                       
                                       <input type="submit"   name="sub"  value="SUBMIT">  
                                       
                                       {% endfor %}             
                                   </form>
         </div>
         <br><br>
                        
                      
                    
        </center>
    </div>

</center>
</div>
 </center> 
</div>
         <br><br><br><br><br><br>
         <footer >
           
  

          <div class="container">
            <div class="row">
            <table><tr><td>
              <div class="col-xs-6 footer-para">
                <p><font color="white">&copy;DEEKZ  All right reserved</font><font color="black">...............................................</font></p>
                </div></td>
                <td>
              
                
                
                <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
              
            </td>
            
         
            
              <td>
              
                
                
                  <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                
                </td>
               
                      <td><center>
                          <section  id="contactus">
                        <div class="main">
                          <h3></h3>
                              Heal on You
                                   
                              
                              
                              <br><br>        Opp. Kadavanthra GCDA,
                               <br><br>               S. A. Road, Kochi - 20.
                              
                                  
                              
                                  Phone : 0484 4073473
                              
                                   </a>
                          
                      
                          </center></td>
                          <td>
              
                
                
                              <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                            
                          </td>
                          <td>
                                
                                  
                                  
                          <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                        
                        </td>
                        <td>
                                
                                  
                                  
                          <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                        
                        </td>
                          <td>
              
                
                
                              <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                            
                          </td>
                          <td>
                                
                                  
                                  
                          <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                        
                        </td>
                        <td>
                                
                                  
                                  
                          <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                        
                        </td>
                        <td>
              
                
                
                            <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                          
                        </td>
                        <td>
                              
                                
                                
                        <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                      
                      </td>
                      <td>
                              
                                
                                
                        <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                      
                      </td>
              <td>
            
              
              <a href="source"><img src="static/img/fb.png" width="30px" height="30px"  alt="" class="img-responsive logo"></a>
            
            </td>
            <td>
              
                
                
              <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
            
          </td>
          
            <td>
              
                
                
                  <img src="static/img/twi.png" width="30px" height="30px"  alt="" class="img-responsive logo">
                
            </td>
            <td>
              
                
                
              <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
            
          </td>
            <td>
              
              
                
                <a href="docpro"><img src="static/img/insta.png" width="30px" height="30px"  alt="" class="img-responsive logo"></a>
              
            </td>
            </tr>
            <tr><font color="black">..........</font></tr>
            <tr><font color="black">..........</font></tr>
            <tr><font color="black">..........</font></tr>
            <tr><font color="black">..........</font></tr>
            <tr><font color="black">..........</font></tr>
            <tr><font color="black">..........</font></tr>
            <tr><font color="black">..........</font></tr>
            <tr><font color="black">..........</font></tr>
            <tr><font color="black">..........</font></tr>
        
            </table>
            </div>
            </div>
                
            
          </footer>
      
         </body>
         </html>