<html>
    <head>
            
            <script>
                    function printalert(form){
                        debugger;
                        
                            alert("Doctor Name Updated  Succesfully")
                
                    }
                
                   </script>
        <style>
         
        footer
{
background-color:black;

}

* {
box-sizing: border-box;
}
        
        /* Clearfix (clear floats) */
        .row::after {
          content: "";
          clear: both;
          display: table;
        }
        </style>
        
        <meta charset="utf-8">         
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        </head>
        
        <header class="header header_style_01">
            <nav class="megamenu navbar navbar-default" style="background-color: black;">
    
            
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <a href="index.html"><img src="static/img/mainlogo.png" width="90px" height="100px"  alt="" class="img-responsive logo"><img src="static/img/logo etstt.png" width="90px" height="40px"  alt="" class="img-responsive logo"></a>
        
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right hidden-md hidden-sm hidden-xs">
                           <br>
                        <ul class="nav navbar-nav navbar-right menu-top">
    
                            <li><a href="doctorpage"><H4 style="color:white;"><font size="03">HOME</font></style></H4></a></li>
    
                            <li><a href="patient_relativesview"><H4 style="color:white;"><font size="03">FINGER ACCESS</font></style></H4></a></li>
    
                            <li><a href="addsymptomsd"><H4 style="color:white;"><font size="03">ADD CANCER SYMPTOMS</font></style></H4></a></li>
    
                            <li><a  href="addmedicines"><H4 style="color:white;"><font size="03">ADD MEDICINES</font></style></H4></a></li>
                            <li><a  href="addprice"><H4 style="color:white;"><font size="03">ADD MEDI PRICE</font></style></H4></a></li>
                            <br><li><a href="source"><H4 style="color:red;"><font size="02"><font color="black">................................................................................................................................................................................................................</font>SIGN OUT</font></style></H4></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
<body>


               
                 
             <center>    
                <div style="width: 100%;height:60px;background-color: white;float: left;">
                </div>
                
                </center>
                
    
                </div><br><br>
</body>
                       
                               
<div style="width: 100%;height: 780px;background-color:black">
           
    <center>
  <br><div style="width: 95%;height: 760px;background-color: black">
  <center>    
   <div style="width: 26%;height:760px;background-color: white;float: left;">
          
           <center> 
           <table> 
         
  <br>
  
  <br>
  
  <tr>
  
  <td><b><font color="white">........</font>PATIENT <br><font color="white">.......</font>HISTORY</b><br/><a href="userhistory" >
  
   <font color="white">....</font><img src="static/img/phh.gif" alt="" width="100" height="100" border="0"></a></td>
     
  <br>
  
  
  <td><b><font color="white">///</font> PATIENT<br><font color="white"></font> MEDI DETAILS</b><br/><a href="dfillhis" >
  
  <font color="white">.</font> <img src="static/img/u.gif" alt="" width="100" height="100" border="0"></a></td>
  
  </tr><br>
  <tr><td><font color="white">....</font></td></tr>
  <tr><td><font color="white">....</font></td></tr>
  <tr>
  <td><font color="white">....................</font><b>DOCTORS<br><font color="white">........././////////</font> SETTING</b>    </td></tr>    
  
  <tr><td><font color="white">............////..</font><a href="doctoredit" > <img src="static/img/mypro.png" alt="" width="80" height="90" border="0"></a></td>
  </tr>
  <tr><td><font color="white">....</font></td></tr>
  <tr><td><font color="white">....</font></td></tr>
  <tr><td><b><font color="white">........</font>PATIENT<br><font color="white">......</font> BOOKING</b><br/><a href="viewdocbook" >{{msg}}
  
  <font color="white">....</font> <img src="static/img/v.gif" alt="" width="100" height="100" border="0"></a></td>
  
  <br>
  <td><b><font color="white">.///</font>HOSPITAL<br><font color="white">//////</font> BOOK CONFIRMATION</b><br/><a href="hospitalbookingcon" >{{msg}}
  
  <br> <font color="white">..</font><img src="static/img/hh.gif" alt="" width="100" height="80" border="0"></a></td>
  
  </tr><br>
  
  
  
  
  
  
  
  
  
  
           
  </table>
  
  </center>             
       
       </div>
             
                <div style="width:100%;margin:(0px,0px);padding:0px; height:760px;background-image: url(\\static\\img\\ddd.jpg);background-repeat:no-repeat;background-position:center;background-size:cover;">
                
                     <center>
                       
                    
                       <br><br><br>
                      
                       
                       <h1><center><br><img src="static/img/set.gif" alt="sign up" width="100" height="100" border="0"></center>
                        <center> <p><font color="black" size="05">UPDATE YOUR PROFILE<p></font><br>
                        </center><font color="black"><font size="00">
                         
                         
                        
                        
                          <form method=POST onsubmit="return printalert(this)" enctype="multipart/form-data"  style="width:100%;padding:5px;">
                            {% csrf_token %} 
                                <center>
                                    <table style="width:750px;color:black;" cellspacing="10" class="table">  
                                <tr>
                                <td><font color="black"><b>Your current Doctor Name      :</b></font></td>
                                <td><input type="text" name="dname" required="" value="{{dname}}" readonly ></td>
                                </tr>
                           
                                <tr>
                                <td><font color="black"><b>Enter a New Name :</b></font></td>
                                <td><input type="text" class="form-control" required="" name="ndname"></td>
                               </tr>
                           
                               <tr>
                               <td></td>
                               <td><input type="submit" value="update" ></td>
                               </td>
                               </tr>
                               <!--<a href="new_profile" ><img src="/static/icons/check-circle-green-512.png" width="50px" height="50px"></a>-->
                               
                               </table>   
                           
                           </form>   
                   
                </div>
                
                
                           
                       
                    
                       <br><br>
                        
                      
                    
                    </center>
                </div>
        
         </center>
        </div>
             </center> 
         </div>
         <br><br><br><br>
         <footer >
               
      
  
            <div class="container">
              <div class="row">
              <table><tr><td>
                <div class="col-xs-6 footer-para">
                  <p><font color="white">&copy;DEEKZ  All right reserved</font><font color="black">...............................................</font></p>
                  </div></td>
                  <td>
                
                  
                  
                  <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                
              </td>
              
           
              
                <td>
                
                  
                  
                    <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                  
                  </td>
                 
                        <td><center>
                            <section  id="contactus">
                          <div class="main">
                            <h3></h3>
                                Heal on You
                                     
                                
                                
                                <br><br>        Opp. Kadavanthra GCDA,
                                 <br><br>               S. A. Road, Kochi - 20.
                                
                                    
                                
                                    Phone : 0484 4073473
                                
                                     </a>
                            
                        
                            </center></td>
                            <td>
                
                  
                  
                                <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                              
                            </td>
                            <td>
                                  
                                    
                                    
                            <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                          
                          </td>
                          <td>
                                  
                                    
                                    
                            <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                          
                          </td>
                            <td>
                
                  
                  
                                <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                              
                            </td>
                            <td>
                                  
                                    
                                    
                            <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                          
                          </td>
                          <td>
                                  
                                    
                                    
                            <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                          
                          </td>
                          <td>
                
                  
                  
                              <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                            
                          </td>
                          <td>
                                
                                  
                                  
                          <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                        
                        </td>
                        <td>
                                
                                  
                                  
                          <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                        
                        </td>
                <td>
              
                
                <a href="source"><img src="static/img/fb.png" width="30px" height="30px"  alt="" class="img-responsive logo"></a>
              
              </td>
              <td>
                
                  
                  
                <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
              
            </td>
            
              <td>
                
                  
                  
                    <img src="static/img/twi.png" width="30px" height="30px"  alt="" class="img-responsive logo">
                  
              </td>
              <td>
                
                  
                  
                <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
              
            </td>
              <td>
                
                
                  
                  <a href="docpro"><img src="static/img/insta.png" width="30px" height="30px"  alt="" class="img-responsive logo"></a>
                
              </td>
              </tr>
              <tr><font color="black">..........</font></tr>
              <tr><font color="black">..........</font></tr>
              <tr><font color="black">..........</font></tr>
              <tr><font color="black">..........</font></tr>
              <tr><font color="black">..........</font></tr>
              <tr><font color="black">..........</font></tr>
              <tr><font color="black">..........</font></tr>
              <tr><font color="black">..........</font></tr>
              <tr><font color="black">..........</font></tr>
          
              </table>
              </div>
              </div>
                  
              
            </footer>
        
           </body>
           </html>