<html>
      
      
     
    <title>HEALTHIER FOODS</title>
    <head>
            
  
        <style>
         
        footer
{
background-color:black;

}

* {
box-sizing: border-box;
}
        
        /* Clearfix (clear floats) */
        .row::after {
          content: "";
          clear: both;
          display: table;
        }
        </style>
        
        <meta charset="utf-8">         
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        </head>
        
        <header class="header header_style_01">
            <nav class="megamenu navbar navbar-default" style="background-color: black;">
    
            
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <a href="index.html"><img src="static/img/mainlogo.png" width="90px" height="100px"  alt="" class="img-responsive logo"><img src="static/img/logo etstt.png" width="90px" height="40px"  alt="" class="img-responsive logo"></a>
        
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right hidden-md hidden-sm hidden-xs">
                           <br>
                        <ul class="nav navbar-nav navbar-right menu-top">
    
                            <li><a href="profilee"><H4 style="color:white;"><font size="03">HOME</font></style></H4></a></li>
    
                            <li><a href="healthtips"><H4 style="color:white;"><font size="03">HEALTH TIPS</font></style></H4></a></li>
    
                            <li><a href="dissym"><H4 style="color:white;"><font size="03">CANCER SYMPTOMS</font></style></H4></a></li>
    
                            <li><a href="selectmed" href="about.html"><H4 style="color:white;"><font size="03">ORDER MEDICINES</font></style></H4></a></li>
    
                            <li><a href="docpro"><H4 style="color:white;"><font size="03">SEARCH DOCTORS</font></style></H4></a></li>
                           
                            <li><a href="#contactus"><H4 style="color:white;"><font size="03">CONTACT US</font></style></H4></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
<body>


    <li><a class="menu" href="#a1"> <font onmouseover="this.style.color='red';" onmouseout="this.style.color='blueviolet';"> <b><font size="03">Holiday Exercise Tips</font></b> </font></a></li>
    <li><a class="menu" href="#a2"> <font onmouseover="this.style.color='red';" onmouseout="this.style.color='blueviolet';"> <b><font size="03"> Kids Exercise Tips</font></b> </font></a></li>
    <li><a class="menu" href="#a3"> <font onmouseover="this.style.color='red';" onmouseout="this.style.color='blueviolet';"> <b><font size="03"> Limiting Screen Time Tips</font></b> </font></a></li>

<br><br>

    <section  id="a1">
        <div class="main">
				<br><h2><font size="40" color="red"><b>Holiday Exercise Tips</b></font></h2>
				<body>
            <div style="width:100%;margin:(0px,0px);padding:0px; height:250px;background-image: url(\\static\\img\\wh.jpg);background-repeat:repeat;background-position:center;background-size:cover;">
                 <br><br> 1.After a big meal, take a family walk and burn extra calories. It will also help you digest.
                 <br>2.Holiday season can be very hectic. Stay active. Don’t mistake being busy for being active. You still need 60-90 minutes of exercise each day.
                 <br>3.This busy holiday season, try to get kids to bed for a full night sleep.
                 <br>4.Plan for Christmas TV specials! Set a goal to watch TV no more than 2 hours a day
                 <br>5.Shoot hoops with the kids for some fun activity- instead of using the word horse use the word Santa.
                 <br>6.The elves keep warm at the North Pole by exercising for 60 minutes every day. Teach kids to be like an elf and get moving!
                 <br>7.Turn off the TV and enjoy your meals as a family this holiday season.
                 <br>8.Bundle up, grab a flashlight and take a family walk to look at holiday lights together.<br>
        </body>
        
                      <section  id="a2">
                          <div class="main">          
        
                            <br><br>  <h2><font  size="40" color="red"><b>Kids Exercise Tips</b></font></h2>
                              <body>
                                  <div style="width:100%;margin:(0px,0px);padding:0px; height:760px;background-image: url(\\static\\img\\wh.jpg);background-repeat:repeat-y;background-position:center;background-size:cover;">
                               <br><br>     Activity is the other part of the equation when it comes to a healthy child.  Healthy eating and daily activity really go hand in hand when it comes to being healthy.

                                    <br><br>The more your child enjoys the activities, the more he or she will want to do the activities.  Picking them up the right equipment such as quality baseball bats can <br>ensure that they are outside being active on a regular basis.  Kids, like us, also like variety.  Find activities that your child enjoys and it won't be exercise, it will fun! 
                                     
                                   <br><br> Here is a list of our activity tips to get you started<br><br>
                                    * motivate kids to want to be active
                                    * find activities that they will enjoy
                                    * find exercise that you can do as a family<br><br>
                                     
                                    List of "Get the Children Moving And Being Active" Tips<br><br>
                                     
                                    1.Try to walk 10,000 steps a day!
                                    <br>2.Set aside time everyday for daily activity. Make it part of your family's routine.
                                    <br>3.Share activity ideas with other parents.
                                    <br>4.Set a timer to remind kids to take an activity break away from the computer after 20 minutes.
                                    <br>5.To avoid muscle injury, teach your kids to stretch their muscles.
                                    <br>6.Children and teens need 1 hour of exercise each day to helps their growing bones, heart and overall health.
                                    <br>7.Have a picnic in the park.
                                    <br>8.Prioritize your To-Do list to schedule family exercise and plan ahead for healthy meals.
                                    <br>9. The heart’s a muscle too. Give it a workout.
                                    <br>10.Take the kids to your local high school this weekend and run relay races around the track.
                                    <br>11.All movement counts; Teach the kids to take the stairs instead of an elevator today.
                                    <br>12. Pump up your metabolism with activities like jumping, dancing and jogging.
                                    <br>13. Today is YMCA Healthy Kids. Take the kids to the nearby YMCA for some fun activities. Be an active family!
                                    <br>14.Walking is the most popular exercise for adults. Teach your kids to walk for a healthy, daily activity.
                                    <br>15.After a big meal, take a family walk and burn extra calories. It will also help you digest.
                                    <br>16.Make the backyard or front yard into an obstacle course and have a family race!
                                    <br>17. Exercise has even been proven to help kids sleep better and reduce stress.
                                    <br>18. Promote activity rather than exercise to kids.
                                    <br>19.Build healthy habits from their favoritie activities.
                                    <br>20.Start the day with a family stroll around the block.
                                    <br>21.Commercials offer an opportunity to be active. Have your kids do some jumping jacks during the breaks.
                                    <br>22.Doing laundry, gardening, and walking with the dog all count as being active.
                                    <br>23.Grab a friend and challenge each other to walk a little farther each day.
                                    <br>24.Moderate to intense daily exercise helps maintain weight for the whole family.
                                    <br>25.For those extra hot summer days plan for indoor activities such as bowling, lazer tag, or roller skating at a local rink. Even try at home video games such as Dance, Dance Revolution or the Wii fit.
                                    <br>
                    </body>

                    <section  id="a3">
                        <div class="main">
                       <br><br> <h2><font size="40" color="red"><b>Limiting Screen Time</b></font>
                        </h2>
                        <body>
                            <div style="width:100%;margin:(0px,0px);padding:0px; height:410px;background-image: url(\\static\\img\\wh.jpg);background-repeat:repeat-y;background-position:center;background-size:cover;">
                           <br><br>   TV, computers and video games are part of most children's every day life.  But most children watch too much TV.  The American Academy of Pediatrics urges parents to limit screen time to no more than 2 hours a day.

                              <br>Instead of TV help kids find activities that promote physical activity that they enjoy.  <br>
                              
                             <br><Br> We have create a list of some quick tips to help you
                              limit your child's screen time<br><br>
                               
                              List of Tips And Ideas For Limiting Kids' Screen Time<br><br>
                               
                              1.Try to limit overall TV and “screen” time to 2 hours a day.
                              <br>2.Turn the TV off during mealtimes.
                              <br>3.Set a timer to remind kids to take an activity break away from the computer after 20 minutes.
                              <br>4.Teach your kids to set down the remote and get up to change the channel.
                              <br>5.Celebrate National Turn Off Your TV week! Have the family make a list of other activities they can do instead of watching TV.
                              <br>6.Limiting your child's screen time to two hours a day includes computer, video games and iPods.
                              <br>7.Turn off the TV and play some family games.
                              <br>8.Eat at the table since it is easier to talk with each other, rather than in front of the TV<br><br>
                        </body>

                        <br><br><br><br><br>
                        <footer >
                          
                 
             
                         <div class="container">
                           <div class="row">
                           <table><tr><td>
                             <div class="col-xs-6 footer-para">
                               <p><font color="white">&copy;DEEKZ  All right reserved</font><font color="black">...............................................</font></p>
                               </div></td>
                               <td>
                             
                               
                               
                               <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                             
                           </td>
                           
                        
                           
                             <td>
                             
                               
                               
                                 <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                               
                               </td>
                              
                                     <td><center>
                                         <section  id="contactus">
                                       <div class="main">
                                         <h3></h3>
                                             Heal on You
                                                  
                                             
                                             
                                             <br><br>        Opp. Kadavanthra GCDA,
                                              <br><br>               S. A. Road, Kochi - 20.
                                             
                                                 
                                             
                                                 Phone : 0484 4073473
                                             
                                                  </a>
                                         
                                     
                                         </center></td>
                                         <td>
                             
                               
                               
                                             <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                           
                                         </td>
                                         <td>
                                               
                                                 
                                                 
                                         <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                       
                                       </td>
                                       <td>
                                               
                                                 
                                                 
                                         <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                       
                                       </td>
                                         <td>
                             
                               
                               
                                             <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                           
                                         </td>
                                         <td>
                                               
                                                 
                                                 
                                         <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                       
                                       </td>
                                       <td>
                                               
                                                 
                                                 
                                         <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                       
                                       </td>
                                       <td>
                             
                               
                               
                                           <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                         
                                       </td>
                                       <td>
                                             
                                               
                                               
                                       <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                     
                                     </td>
                                     <td>
                                             
                                               
                                               
                                       <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                     
                                     </td>
                             <td>
                           
                             
                             <a href="source"><img src="static/img/fb.png" width="30px" height="30px"  alt="" class="img-responsive logo"></a>
                           
                           </td>
                           <td>
                             
                               
                               
                             <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                           
                         </td>
                         
                           <td>
                             
                               
                               
                                 <img src="static/img/twi.png" width="30px" height="30px"  alt="" class="img-responsive logo">
                               
                           </td>
                           <td>
                             
                               
                               
                             <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                           
                         </td>
                           <td>
                             
                             
                               
                               <a href="docpro"><img src="static/img/insta.png" width="30px" height="30px"  alt="" class="img-responsive logo"></a>
                             
                           </td>
                           </tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                       
                           </table>
                           </div>
                           </div>
                               
                           
                         </footer>
                     
                        </body>
                        </html>