<html>
        
    <title>HEALTHIER FOODS</title>
    
    <head>
            
  
        <style>
         
        footer
{
background-color:black;

}

* {
box-sizing: border-box;
}
        
        /* Clearfix (clear floats) */
        .row::after {
          content: "";
          clear: both;
          display: table;
        }
        </style>
        
        <meta charset="utf-8">         
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        </head>
        
        <header class="header header_style_01">
            <nav class="megamenu navbar navbar-default" style="background-color: black;">
    
            
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <a href="index.html"><img src="static/img/mainlogo.png" width="90px" height="100px"  alt="" class="img-responsive logo"><img src="static/img/logo etstt.png" width="90px" height="40px"  alt="" class="img-responsive logo"></a>
        
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right hidden-md hidden-sm hidden-xs">
                           <br>
                        <ul class="nav navbar-nav navbar-right menu-top">
    
                            <li><a href="profilee"><H4 style="color:white;"><font size="03">HOME</font></style></H4></a></li>
    
                            <li><a href="healthtips"><H4 style="color:white;"><font size="03">HEALTH TIPS</font></style></H4></a></li>
    
                            <li><a href="dissym"><H4 style="color:white;"><font size="03">CANCER SYMPTOMS</font></style></H4></a></li>
    
                            <li><a href="selectmed" href="about.html"><H4 style="color:white;"><font size="03">ORDER MEDICINES</font></style></H4></a></li>
    
                            <li><a href="docpro"><H4 style="color:white;"><font size="03">SEARCH DOCTORS</font></style></H4></a></li>
                           
                            <li><a href="#contactus"><H4 style="color:white;"><font size="03">CONTACT US</font></style></H4></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
<body>


    <li><a class="menu" href="#a1"> <font onmouseover="this.style.color='red';" onmouseout="this.style.color='blueviolet';"> <b><font size="03"> Food Safety Tips</font></b> </font></a></li>
    <li><a class="menu" href="#a2"> <font onmouseover="this.style.color='red';" onmouseout="this.style.color='blueviolet';"> <b><font size="03">Food Allergy Tips</font></b> </font></a></li>
    <li><a class="menu" href="#a3"> <font onmouseover="this.style.color='red';" onmouseout="this.style.color='blueviolet';"> <b><font size="03"> Family Wellness Tips</font></b> </font></a></li>
<br><br>

    <section  id="a1">
        <div class="main">
				<br><br><h2><font size="40" color="red"><b>Food Safety Tips</b></font></h2>
				<body>
            <div style="width:100%;margin:(0px,0px);padding:0px; height:500px;background-image: url(\\static\\img\\wh.jpg);background-repeat:repeat-y;background-position:center;background-size:cover;">
                      <br><br>  Food safety is an important part of healthy cooking.  It also involves the storage and handling of foods too.  These are iimportant food habits for the whole family but sometimes is overlooked.

                        <br>Food safety tips help children and parents<br>
                         
                       <br> Here is a list of our tips that helps parents<br><br>
                        * provide helpful suggestions that prevents cross food contamination
                        * minimize the chances of bacteria growing on food
                        * gives practical food storage tips
                         
                        <br>List of Tip On Food Safety To Prevent Illness Caused by Bacteria Contanimation in Foods.<br>
                         
                        <br>1.Washing hands, cooking foods to proper temperatures, and storing food are key to preventing food borne illness.
                        <br>2.Rinse fruits and vegetables under running tap water, including those with skins and rinds that are not eaten. Dry with a paper towel.
                        <br>  3.Washing hands is the number 1 way to prevent getting sick. Teach your children to always wash their hands.
                        <br>4.Meat quality can be affected when thawing in the microwave, but this is an acceptable way to defrost meat.
                        <br>5.An average of only 1 in 6 people washes their hands after using the restroom.
                        <br>6.Wash insulated lunch totes or boxes with hot soapy water after each use.
                        <br>7.Your child’s lunch could include perishable items (sandwiches, fresh fruit) and shelf-stable items (packaged pudding). Use an insulated lunch box, with an insulated bottle for hot foods or a frozen gel pack or a frozen juice box to keep foods cold.
                        <br>8.When packing egg or meat sandwiches for school lunches, include an ice pack to ensure these items stay cold.
                        <br>9.Use leftovers for school lunch. If your child ate the beef stew last night for dinner, serve it up for lunch (place an ice pack in the lunch box though to prevent food illness).
                        <br>10.Avoid bacteria by buying foods that need to be refrigerated last when you are grocery shopping.
                        <br>11. Defrost meat in the refrigerator is a good food safety practice.
                        <br>12.Scrub the cantaloupe before slicing into it to prevent bacteria contamination.
                        <br>13.If lunches are made at home the night before, keep them in the refrigerator until it’s time to go. Make sure the refrigerator is 40° F or below at all times and use an appliance thermometer to check the temperature.
                       <br>
        </body>
        
                      <section  id="a2">
                          <div class="main">          
        
                             <br><br> <h2><font size="40" color="red"><b>Food Allergy Tips</b></font></h2>
                              <body>
                                  <div style="width:100%;margin:(0px,0px);padding:0px; height:310px;background-image: url(\\static\\img\\wh.jpg);background-repeat:repeat-y;background-position:center;background-size:cover;">
                               <br>     Food allergies are a serious condition that affects over 2 million children in the US alone.  If you suspect your child may have food allergies, please contact your physician right away.

                                   <br> Here is a list of our tips to help parents or caregivers of children who have food allergies.  Our tips provide 
                                   <br><br> * suggestions for families with children who have food allergies<br>
                                   * tips for teaching children who may be around children who have food allergies<br>
                                   * information about food allergies
                                     
                                    <br><br>List of Tips For Parenting Children Who Have Food Allergies.<br><br>
                                     
                                    1.Common food that cause allergies: dairy, soy, shellfish, wheat, tree nuts, peanuts, egg whites.
                                    <br>2.If you suspect a food allergy, have your child checked by a health care provider.
                                    <br>3.Teach kids not to swap foods. 1 out of 17 kids have food allergies.

                    </body>

                    <section  id="a3">
                        <div class="main">
                       <br><br> <h2><font size="40" color="red"><b>Family Wellness Tips</b></font></h2>
                        <br><br><body>
                            <div style="width:100%;margin:(0px,0px);padding:0px; height:620px;background-image: url(\\static\\img\\wh.jpg);background-repeat:repeat;background-position:center;background-size:cover;">
                                <br>Keeping your family healthy involves healthy food choices, daily exercise and preventative healthcare.

                               <br> These tips involve keeping your child and family healthy through actively taking steps to prevent illness, fight disease and monitor your health.  
                                 
                                <br><br>Here is a list of our tips that<br><br>
                               * provide tips on preventing sickness
                               * general safety precautions
                               * activities to promote and maintain well-being for your children and family
                               * promote early dental care - get your family on the 7 step regimen<br><br>
                                 
                                List of Family Wellness Tips<br><br>
                                 
                                1.All children age 3 and older need yearly blood pressure measurements.
                                <br>2.Teach your child how to find their heart rate.
                                <br>3.Teach your children that they need to wash their hands for 20 seconds. Have kids lather up with soap to kill bacteria.
                                <br>4.To avoid muscle injury, teach your kids to stretch their muscles.
                                <br>5. Have your child hum the entire alphabet song while brushing to get clean teeth.
                                <br>6.Doctors recommend a full 7 or 8 hours a night. Kids need more sleep because they are growing.
                                <br>7.Apply sunscreen on your child daily.
                                <br>8.Make sure to slice grapes for children under 4 to avoid choking hazards.
                                <br>9.Schedule your child for bi-annual dental appointments to keep their teeth healthy.
                                <br>10.Wash cuts with soap and water and place bandages on them right away.
                                <br>11.Good dental care starts early.
                                <br>12.Consider a rolling backpack for kids. This type of backpack may be a good choice for students who must tote a heavy load.
                                <br>13.Peanuts, whole grapes, popcorn, hot dogs, candy, carrots, and sunflower seeds can be chocking hazards for young children.
                                <br>14.Always use both shoulder straps. Slinging a backpack over one shoulder can strain muscles.
                                <br>15.Teach children to pack their backpack light. Organize the backpack to use all of its compartments.
                                <br>16.The backpack should never weigh more then 10 to 20 percent of the your child’s body weight.
                                <br>17.Pack heavier items in your child's backpack closest to the center of the back.
                                <br>18.Choose a backpack with wide, padded shoulder straps and a padded back.
                                <br>19.Keep an eye on cholesterol by reading the food labels.
                                <br>20.Test every detector in your home to keep them functioning and charaged.<br>
                        </body>

                        <br><br><br><br><br><br><br><br><br>
                        <footer >
                          
                 
             
                         <div class="container">
                           <div class="row">
                           <table><tr><td>
                             <div class="col-xs-6 footer-para">
                               <p><font color="white">&copy;DEEKZ  All right reserved</font><font color="black">...............................................</font></p>
                               </div></td>
                               <td>
                             
                               
                               
                               <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                             
                           </td>
                           
                        
                           
                             <td>
                             
                               
                               
                                 <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                               
                               </td>
                              
                                     <td><center>
                                         <section  id="contactus">
                                       <div class="main">
                                         <h3></h3>
                                             Heal on You
                                                  
                                             
                                             
                                             <br><br>        Opp. Kadavanthra GCDA,
                                              <br><br>               S. A. Road, Kochi - 20.
                                             
                                                 
                                             
                                                 Phone : 0484 4073473
                                             
                                                  </a>
                                         
                                     
                                         </center></td>
                                         <td>
                             
                               
                               
                                             <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                           
                                         </td>
                                         <td>
                                               
                                                 
                                                 
                                         <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                       
                                       </td>
                                       <td>
                                               
                                                 
                                                 
                                         <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                       
                                       </td>
                                         <td>
                             
                               
                               
                                             <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                           
                                         </td>
                                         <td>
                                               
                                                 
                                                 
                                         <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                       
                                       </td>
                                       <td>
                                               
                                                 
                                                 
                                         <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                       
                                       </td>
                                       <td>
                             
                               
                               
                                           <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                         
                                       </td>
                                       <td>
                                             
                                               
                                               
                                       <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                     
                                     </td>
                                     <td>
                                             
                                               
                                               
                                       <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                     
                                     </td>
                             <td>
                           
                             
                             <a href="source"><img src="static/img/fb.png" width="30px" height="30px"  alt="" class="img-responsive logo"></a>
                           
                           </td>
                           <td>
                             
                               
                               
                             <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                           
                         </td>
                         
                           <td>
                             
                               
                               
                                 <img src="static/img/twi.png" width="30px" height="30px"  alt="" class="img-responsive logo">
                               
                           </td>
                           <td>
                             
                               
                               
                             <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                           
                         </td>
                           <td>
                             
                             
                               
                               <a href="docpro"><img src="static/img/insta.png" width="30px" height="30px"  alt="" class="img-responsive logo"></a>
                             
                           </td>
                           </tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                       
                           </table>
                           </div>
                           </div>
                               
                           
                         </footer>
                     
                        </body>
                        </html>