
<html>

    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HOY</title>
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!--CARUSEL-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- Favicons
        ================================================== -->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="\static\css\bootstrap.css">
    <link rel="stylesheet" type="text/css" href="\static\css\font-awesome.css">
    
    <!-- Stylesheet
        ================================================== -->
    <link rel="stylesheet" type="text/css" href="\static\css\style.css">
    <link rel="stylesheet" type="text/css" href="\static\css\nivo-lightbox/nivo-lightbox.css">
    <link rel="stylesheet" type="text/css" href="\static\css\nivo-lightbox/default.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    
    </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation
        ==========================================-->
     
     <center><br>
     <div id="header" style="width:98%;background-position:center;background-color: white;background-repeat:no-repeat;">
    
     <header class="header header_style_01">
            <nav class="megamenu navbar navbar-default" style="background-color: black;">
    
            
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <a href="index.html"><img src="static/img/mainlogo.png" width="90px" height="100px"  alt="" class="img-responsive logo"><img src="static/img/logo etst.png" width="90px" height="40px"  alt="" class="img-responsive logo"></a>
        
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right hidden-md hidden-sm hidden-xs">
                           <br>
                        <ul class="nav navbar-nav navbar-right menu-top">
    
                            <li><a href="Home"><H4 style="color:white;">HOME</style></H4></a></li>
    
                            <li><a href="Registration"><H4 style="color:white;">REGISTER NOW</style></H4></a></li>
    
                            <li><a href="login"><H4 style="color:white;">LOGIN</style></H4></a></li>
    
                            <li><a class="About_us" href="about.html"><H4 style="color:white;">ABOUT US</style></H4></a></li>
    
                            <li><a href="Services"><H4 style="color:white;">OUR SERVICES</style></H4></a></li>
                           
                            <li><a href="Contact_us"><H4 style="color:white;">CONTACT US</style></H4></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        </div>
        </center>
    
    {% block regis %}
    
    {% endblock %}
    
    {% block login %}
    
    {% endblock %}
    
    
    <body>
    
    <!-- Footer Section -->
    <center>
    
    <div id="footer" style="width:98%;height:150px;background-color: black;background-position:center;background-repeat:no-repeat;">
    
      <div class="container text-center" style="color:white;">
        <p>&copy;2019 DEEKZ  All right reserved <a href="http://www.templatewire.com" rel="nofollow"></a></p>
      </div>
      <div>
        <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
      </div>
    </div>
    
    </center>
    <script type="text/javascript" src="static/login_template/js/jquery.1.11.1.js"></script> 
    <script type="text/javascript" src="static/login_template/js/bootstrap.js"></script> 
    <script type="text/javascript" src="static/login_template/js/SmoothScroll.js"></script> 
    <script type="text/javascript" src="static/login_template/js/nivo-lightbox.js"></script> 
    <script type="text/javascript" src="static/login_template/js/jqBootstrapValidation.js"></script> 
    <script type="text/javascript" src="static/login_template/js/contact_me.js"></script> 
    <script type="text/javascript" src="static/login_template/js/main.js"></script>
    </body>
    </html>
    
    