<html>
    
    <title>HEALTHIER FOODS</title>
    <head>
            
  
        <style>
         
        footer
{
background-color:black;

}

* {
box-sizing: border-box;
}
        
        /* Clearfix (clear floats) */
        .row::after {
          content: "";
          clear: both;
          display: table;
        }
        </style>
        
        <meta charset="utf-8">         
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        </head>
        
        <header class="header header_style_01">
            <nav class="megamenu navbar navbar-default" style="background-color: black;">
    
            
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <a href="index.html"><img src="static/img/mainlogo.png" width="90px" height="100px"  alt="" class="img-responsive logo"><img src="static/img/logo etstt.png" width="90px" height="40px"  alt="" class="img-responsive logo"></a>
        
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right hidden-md hidden-sm hidden-xs">
                           <br>
                        <ul class="nav navbar-nav navbar-right menu-top">
    
                            <li><a href="profilee"><H4 style="color:white;"><font size="03">HOME</font></style></H4></a></li>
    
                            <li><a href="healthtips"><H4 style="color:white;"><font size="03">HEALTH TIPS</font></style></H4></a></li>
    
                            <li><a href="dissym"><H4 style="color:white;"><font size="03">CANCER SYMPTOMS</font></style></H4></a></li>
    
                            <li><a href="selectmed" href="about.html"><H4 style="color:white;"><font size="03">ORDER MEDICINES</font></style></H4></a></li>
    
                            <li><a href="docpro"><H4 style="color:white;"><font size="03">SEARCH DOCTORS</font></style></H4></a></li>
                           
                            <li><a href="#contactus"><H4 style="color:white;"><font size="03">CONTACT US</font></style></H4></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
<body>

   
    <li><a class="menu" href="#a1"> <font onmouseover="this.style.color='red';" onmouseout="this.style.color='blueviolet';"> <b><font size="03"> Healthy Protein Tips</font></b> </font></a></li>
    <li><a class="menu" href="#a2"> <font onmouseover="this.style.color='red';" onmouseout="this.style.color='blueviolet';"> <b><font size="03"> Fruits and Vegetables Tips</font></b> </font></a></li>
    <li><a class="menu" href="#a3"> <font onmouseover="this.style.color='red';" onmouseout="this.style.color='blueviolet';"> <b><font size="03"> Hearty Healthy Tips</font></b> </font></a></li>

<br>
    <section  id="a1">
        <div class="main">
				<br><br><h2><font size="40" color="red"><b>Healthy Protein Tips</b></font></h2>
				<body>
            <div style="width:100%;margin:(0px,0px);padding:0px; height:320px;background-image: url(\\static\\img\\wh.jpg);background-repeat:repeat-y;background-size:cover;">
                        <br>Proteins are an important part of a child's diet.  Quick tips for helping children choose healthier, low fat proteins.<br><br>

 
                       1. Beans are now listed in the "meat group" because they are packed with protein.<br>
                       2. Choose lean meats such as chicken breast, lean ham or roast beef.<br>
                       3. Go lean with protein with a handful of nuts.<br>
                       4. Salmon has omega 3 heart healthy fat.<br>
                       5. Choose lean meats such as chicken breast, lean ham or roast beef, instead of salami or bacon.<br>
                       6. If your 4 year old gets 4 tablespoons of protein, he has met his daily protein needs.<br>
                       7. Lean cuts of beef have the words, “round” or “loin” in the name.<br>
                       8. Choose lean-meats and fat-free hot dogs on whole grain buns.<br>
                       9. Try hummus or bean spread as a dip for veggies.<br>
                      10. Nuts are a great source of protein and healthy oils.<br>
                      11.  Healthy oils come from fish, nuts, and liquid oils like grape seed, olive oil, avocado and hemp oil.<br>
                      12. Black beans are a better choice because they have less fat than refried beans<br><br>
        </body>
        
                      <section  id="a2">
                          <div class="main">          
        
                              <h2><font size="40" color="red"><b>Fruits And Vegetables Tips</b></font></h2>
                              <body>
                                  <div style="width:100%;margin:(0px,0px);padding:0px; height:1099px;background-image: url(\\static\\img\\wh.jpg);background-repeat:repeat-y;background-size:cover;">
                                  <br>Fruits and vegetables are an important part of a child's diet.  We know that most children do not eat enough of these two food groups.
My Plate reminds us  that a healthy plate<br> has half of the plate filled with fruits and vegetables.  But sometimes getting your child to eat more fruits and vegetables can be challenging.  
 
<br>
 
<br>List of Tips To Help Kids Eat More Fruits And Vegetables In Their Meal<br><br>
 
1.¼ cup of dried cranberries is great with a salad for added taste and vitamins and counts as a serving of fruit.<br>
2.Try leaving the peal on an apple for more fiber.<br>
3.Broccoli is the superhero of vegetables with vitamin A, calcium, folic acid and vitamin C.<br>
4.Have the kids help wash the fruits and vegetables.<br>
5.Cut up some fruit with a low fat dip.<br>
6.Cabbage is a rich source of Vitamin A, C, E and B! So serve it up with your kids' favorite meal.<br>
7.Share a story about your a favorite green veggie or fruit.<br>
8.Decorate your plate with the colors of the rainbow.<br>
9.Teach kids about the lucky green vegetable.<br>
10.Pick a new fruit to try this week.<br>
11.Enriched grain and dark green, leafy vegetables are high in iron.<br>
12.Kids are more likely to eat fruit that is already cut up. Have a plate ready on the table for snack time.<br>
13.Try to arrange the fruit bowl so you have many different colors showing- make it a game.<br>
14.Fresh squeezed orange juice is loaded with vitamin C and no extra sugar.<br>
15.Make vegetables and fruits fun. Cut them in different shapes and let your child create faces before eating it.<br>
16.While canned fruits are a great source of vitamins and minerals, they are lower in fiber because they are missing their skin.<br>
17.Broccoli is a powerhouse green veggie!<br>
18.Show your kids the many varieties of melons and try a different one each week.<br>
19.Kids love to eat food on a stick. Have them help you prep a fruit kebob.<br>
20.A pomegranate is high in vitamin C and potassium.<br>
21.Add some color to your salad with seasonal fruits.<br>
22.Wash fruit the night before so they’ll be ready for a healthy afternoon snacks.<br>
23.Try making the kids a honeydew smoothie with non-fat yogurt and crushed ice.<br>
24.Bring a healthy side dish of grilled asparagus or broccoli with salsa to the 4th of July Barbecue gathering.<br>
25.Look for fruit packed in its own juices or light syrup.<br>
26.Let your kids make faces with the fruit before eating!<br>
27.Get a cherry pit remover and let the kids have fun with the cherries.<br>
28.Salads are a good way to introduce new foods to your child.<br>
29.Let the kids help put the fruit or vegetable into the grocery cart.<br>
30.Teach them how fruits and vegetables gives us clues on how ripe they are.<br>
31.Put rinsed and cut fruits and vegetables on a shelf in your refrigerator where your child can see them.<br>
32.Add slices of lemon or squeeze a little bit of fresh orange juice to add some flavor.<br>
33.Raspberries and blackberries have only 60 calories in one cup and are both excellent sources of fiber.<br>
34.Try melon slices for breakfast for a change.<br>
35.Take an outing to a local farmers market to teach kids about where their food comes from. See what fruits and vegetables are in season.<br>
36.Parsnips look like white carrots. They are sweet and are a good source of fiber.<br> 
37.Let the kids enjoy pomegranates this fall.<br>
38.Decorate the table with the colors from veggies and fruits.<br>
39.Be patient and positive when encouraging children to eat their fruits and veggies.<br>
40.Offer fresh fruit for dessert.<br>
41.Have the kids help pick the fruits and veggies for Thanksgiving.<br>
42.Eat one orange vegetable every day! Pumpkins, squash, carrots, sweet potatoes and yams are full of Vitamin A.<br>
43.Ask them “What is this banana telling us?” “Is it ready to eat yet?” “Should we pick that bunch?”<br>
44.Teach your kids how to color their plate like a rainbow of vegetables<br>
45.Encourage your child to put a small quantity of vegetables on their plate, even if they won’t eat it.<br>
46.Try new recipes, often kids will try vegetables when mixed with other foods or special sauces<br>
47.Frozen fruit added to non-fat vanilla yogurt makes a great thick smoothie.<br>
48.Introduce new foods, vegetables and fruits at mealtime.<br>
49.Slice a kiwi fruit in half and teach your child to use a spoon to scoop it out.<br>
50.Have a contest on which plate is the most colorful (fruits and vegetables in a rainbow of color!)<br>
                    </body>

                    <section  id="a3">
                        <div class="main">
                        <br><h2>
                            <font size="40" color="red"><b>Heart Healthy Tips</b></font></h2>
                        <body>
                            <div style="width:100%;margin:(0px,0px);padding:0px; height:760px;background-image: url(\\static\\img\\wh.jpg);background-repeat:repeat-y;background-size:cover;">
                            <br>You may be surprised to know that a healthy heart starts in childhood.  We now know that early heart disease can be found in children who have poor diets<br> and a sedentary lifestyle.  This is why it is so important to teach children healthy habits that will promote a healthy heart and overall well-being.

                           <br><br> Kids are like little sponges and they learn quickly from you and their surroundings.  Help them instill healthy habits that they will carry with them through<br> their lifetime. 
                           
                          <br><br> Here is a list of healthy heart tips that
                         <br> *give you ideas on how to get your child moving
                         <br> * promote prevention of heart disease
                         <br> * provide tips on the healthy foods that promote a healthy heart<br><br>
                            
                           List of Tips Promote A Healthy Heart For Kids And For Families<br><br>
                            
                          1.All children age 3 and older need yearly blood pressure measurements.<br>
                           2.A healthy heart starts with a healthy breakfast.<br>
                           3.Kids like to feel great. Teach them how to be good to their heart.<br>
                           4.Salmon has omega 3 heart healthy fat.<br>
                           5.Look for the words "100% whole" when buying whole wheat or whole grains.<br>
                           6.For chocolate lovers, eat antioxidant-rich, heart-healthy, organic dark chocolate<br>
                           7.The heart’s a muscle too. Give it a workout.<br>
                           8.Avoid foods with trans fat (you can find it in the food label).<br>
                           9.Promote heart healthy foods that are low in saturated fats.<br>
                           10.Choose and prepare foods with less salt. Most adults and children consume more sodium (salt) than their body needs.
                           <br>11.auces such as low sodium soy sauce, rice wine vinegar, wasabi, or ginger are healthy choices.<br>
                           12.Omega 3 fat is good for your heart and brain.<br>
                           13.Most kids eat too much salt. Keep the salt shaker off the table.<br>
                           14.Soluable fiber helps lower your cholesterol.<br>
                           15.Healthy oils come from fish, nuts, and liquid oils like grape seed, olive oil, avocado and hemp oil.<br>
                           16.Exercise can help increase your family's healthy “HDL” cholesterol.<br>
                           17.Keep an eye on cholesterol by reading the food labels.<br>
                           18.Black beans are a better choice because they have less fat than refried beans<br>
                           19.Try healthy spray butter for your dinner rolls and veggies. They taste great and add 0 calories.<br>
                           20.Keep your heart healthy with lots of fruits, vegetables and whole grains.<br>
                           <br> 21.Use leftover chicken from dinner last night and make a sandwich vs. processed sandwich meat which is high in sodium (salt).
                           <br> 22.Drinking just one can of soda a day increases a child's risk of obesity by 60%. Restrict your child's soft drink consumption.
                           <br>
                        </body>
                        <br><br><br>
             <footer >
               
      
  
              <div class="container">
                <div class="row">
                <table><tr><td>
                  <div class="col-xs-6 footer-para">
                    <p><font color="white">&copy;DEEKZ  All right reserved</font><font color="black">...............................................</font></p>
                    </div></td>
                    <td>
                  
                    
                    
                    <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                  
                </td>
                
             
                
                  <td>
                  
                    
                    
                      <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                    
                    </td>
                   
                          <td><center>
                              <section  id="contactus">
                            <div class="main">
                              <h3></h3>
                                  Heal on You
                                       
                                  
                                  
                                  <br><br>        Opp. Kadavanthra GCDA,
                                   <br><br>               S. A. Road, Kochi - 20.
                                  
                                      
                                  
                                      Phone : 0484 4073473
                                  
                                       </a>
                              
                          
                              </center></td>
                              <td>
                  
                    
                    
                                  <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                
                              </td>
                              <td>
                                    
                                      
                                      
                              <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                            
                            </td>
                            <td>
                                    
                                      
                                      
                              <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                            
                            </td>
                              <td>
                  
                    
                    
                                  <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                
                              </td>
                              <td>
                                    
                                      
                                      
                              <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                            
                            </td>
                            <td>
                                    
                                      
                                      
                              <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                            
                            </td>
                            <td>
                  
                    
                    
                                <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                              
                            </td>
                            <td>
                                  
                                    
                                    
                            <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                          
                          </td>
                          <td>
                                  
                                    
                                    
                            <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                          
                          </td>
                  <td>
                
                  
                  <a href="source"><img src="static/img/fb.png" width="30px" height="30px"  alt="" class="img-responsive logo"></a>
                
                </td>
                <td>
                  
                    
                    
                  <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                
              </td>
              
                <td>
                  
                    
                    
                      <img src="static/img/twi.png" width="30px" height="30px"  alt="" class="img-responsive logo">
                    
                </td>
                <td>
                  
                    
                    
                  <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                
              </td>
                <td>
                  
                  
                    
                    <a href="docpro"><img src="static/img/insta.png" width="30px" height="30px"  alt="" class="img-responsive logo"></a>
                  
                </td>
                </tr>
                <tr><font color="black">..........</font></tr>
                <tr><font color="black">..........</font></tr>
                <tr><font color="black">..........</font></tr>
                <tr><font color="black">..........</font></tr>
                <tr><font color="black">..........</font></tr>
                <tr><font color="black">..........</font></tr>
                <tr><font color="black">..........</font></tr>
                <tr><font color="black">..........</font></tr>
                <tr><font color="black">..........</font></tr>
            
                </table>
                </div>
                </div>
                    
                
              </footer>
          
             </body>
             </html>