<html>
       
    <title>HEALTHIER FOODS</title>
    <head>
            
  
        <style>
         
        footer
{
background-color:black;

}

* {
box-sizing: border-box;
}
        
        /* Clearfix (clear floats) */
        .row::after {
          content: "";
          clear: both;
          display: table;
        }
        </style>
        
        <meta charset="utf-8">         
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        </head>
        
        <header class="header header_style_01">
            <nav class="megamenu navbar navbar-default" style="background-color: black;">
    
            
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <a href="index.html"><img src="static/img/mainlogo.png" width="90px" height="100px"  alt="" class="img-responsive logo"><img src="static/img/logo etstt.png" width="90px" height="40px"  alt="" class="img-responsive logo"></a>
        
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right hidden-md hidden-sm hidden-xs">
                           <br>
                        <ul class="nav navbar-nav navbar-right menu-top">
    
                            <li><a href="profilee"><H4 style="color:white;"><font size="03">HOME</font></style></H4></a></li>
    
                            <li><a href="healthtips"><H4 style="color:white;"><font size="03">HEALTH TIPS</font></style></H4></a></li>
    
                            <li><a href="dissym"><H4 style="color:white;"><font size="03">CANCER SYMPTOMS</font></style></H4></a></li>
    
                            <li><a href="selectmed" href="about.html"><H4 style="color:white;"><font size="03">ORDER MEDICINES</font></style></H4></a></li>
    
                            <li><a href="docpro"><H4 style="color:white;"><font size="03">SEARCH DOCTORS</font></style></H4></a></li>
                           
                            <li><a href="#contactus"><H4 style="color:white;"><font size="03">CONTACT US</font></style></H4></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
<body>


    <li><a class="menu" href="#a1"> <font onmouseover="this.style.color='red';" onmouseout="this.style.color='blueviolet';"> <b><font size="03"> Grocery Shopping Tips</font></b> </font></a></li>
    <li><a class="menu" href="#a2"> <font onmouseover="this.style.color='red';" onmouseout="this.style.color='blueviolet';"> <b><font size="03"> Healthy Cooking  Tips</font></b> </font></a></li>
    <li><a class="menu" href="#a3"> <font onmouseover="this.style.color='red';" onmouseout="this.style.color='blueviolet';"> <b><font size="03"> Eating Out Tips</font></b> </font></a></li>

<br>
    <section  id="a1">
        <div class="main">
				<br><h2><font size="40" color="red"><b>Grocery Shopping Tips</b></font></h2>
				<body>
            <div style="width:100%;margin:(0px,0px);padding:0px; height:630px;background-image: url(\\static\\img\\wh.jpg);background-repeat:repeat;background-position:center;background-size:cover;">
                       <br> Our goal is to help families have a positive and very healthy experience at the supermarket.  Healthy eating starts with purchasing healthy foods..  The supermarket <br>offers an opportune time to help children how to compare and select healthy foods. 

<br><br>Here is a list of our tips that<br>
* give suggestions on how to compare foods<br>
* provide practical ideas for shopping on a budget<br>
* give fun suggestions on how to include the kids in healthy food choices<br><br>
 
List of Tips To Promote Healthy Food Choices At the Grocery Store<br><br>
 
1.Make a shopping list of all the foods you need and have your kids help.<br>
2.Look for the words "100% whole" when buying whole wheat or whole grains.<br>
3.Cheese is about 30 percent cheaper in the dairy isle than at the deli counter.<br>
4.Have your children find as many different colors of vegetables in the grocery store.<br>
5.Look for whole grain cereals and breads with at least 4 gram of fiber.<br>
6.Avoid foods with trans fat (you can find it in the food label).<br>
7.Help your kids eat healthier by stocking your pantry with healthy snacks high in fiber and vitamins but low in sugar and fat.<br>
8.Teach kids to read food labels and see what is really inside their foods by doing a scavenger hunt in the cupboards.<br>
9.Choose and prepare foods with less salt. Most adults and children consume more sodium (salt) than their body needs.<br>
10.Keep nutritious, wholesome foods in the house for a quick summer snack.<br>
11.Food labels are a great way to learn how some foods are better for you than others.<br>
12.Take a trip to the farmers market and choose fresh fruits and vegetables that are firm, ripe and unblemished.<br>
13.Look for fruit packed in its own juices or light syrup.<br>
14.Let the kids help put the fruit or vegetable into the grocery cart.<br>
15.Teach them how fruits and vegetables gives us clues on how ripe they are.<br>
<br>16.Take an outing to a local farmers market to teach kids about where their food comes from. See what fruits and vegetables are in season.
<br>17.While shopping for food, check out the sell by dates to make sure they are current.<br>
18.Take your children to the grocery store to help you shop for food. Have them choose one new fruit or vegetable to try each week.<br><br>
        </body>
        
                      <section  id="a2">
                          <div class="main">          
        
                              <br><br><br><h2><font size="40" color="red"><b>Healthy Cooking  Tips</b></font></h2>
                              <body>
                                  <div style="width:100%;margin:(0px,0px);padding:0px; height:790px;background-image: url(\\static\\img\\wh.jpg);background-repeat:repeat-y;background-size:cover;">
                                    Healthy family meals starts with cooking at home.  <br><br>
 
                                    We have put together a list of helpful tips that promotes<br><br>
                                     
                                    Here is a list of our tips that<br>
                                    * make your recipes healthier with just a few simple ingredient changes<br>
                                    * provides tips for adding more fruits and vegetables into yoru recipes<br>
                                    * gives you suggestions for cooking methods that is lower in fat and higher in nutrients<br>
                                     
                                    <br><br>List of Healthy Cooking Tips For The Family<br><br>
                                     
                                    1.Use reduced fat or low fat ingredients such as low fat cheese or skim milk<br>
                                    2.Making pasta tonight? Make it a healthy dinner by using whole-wheat pasta.<br>
                                    <br>3.You can add lots vegetables in soups for a filling and delicious dinner meal. Let your child choose a new vegetable to add to the soup.
                                    <br>4.Try mixing half white rice and half brown rice!
                                    <br>5.Try adding some bran to your muffin recipe.
                                    <br>6.Try some green asparagus mixed with pasta.
                                    <br>7.Teach kids about the lucky green vegetable.
                                    <br>8.You can make French fries healthier by making baked French fries.<br>
                                    9.Pick a recipe and talk with the kids about what is a healthy ingredient.<br>
                                    10.Plan a meal around veggies, whole grains and beans instead of meat for one day.<br>
                                    11.You are your child’s best advertisement. Have fun with nutrition!<br>
                                    12.When planning your dinner meal, try to include something from all the food groups.<br>
                                    13.Set out a bowl of veggies with a low fat dip for healthy kid snacking.<br>
                                    14.Stir fried, steamed, roasted or broiled dishes are healthier choices than battered or deep-fried.<br>
                                    <br>15.Choose and prepare foods with less salt. Most adults and children consume more sodium (salt) than their body needs.
                                    <br>16.Try substituting and using long grain, brown rice or whole-wheat pasta instead of white rice.
                                    <br>17.Look for fun recipes to serve vegetables to your family. Involve the kids in finding a fun recipe.<br>
                                    18.Plan healthy meals that can be made quickly on days when you are extra busy.<br>
                                    19.Kids love to eat food on a stick. Have them help you prep a fruit kebob.<br>
                                    20.Let your child choose a new vegetable to add to soup.<br>
                                    21.Cooking Tip: To save calories, use applesauce in place of oil (1 to 1 ratio) when baking.<br>
                                    22.Follow the 5-5 rule. Look for cereals with 5 grams or less of sugar!<br>
                                    <br> 23.Next time you make a sandwich for your child's lunch, switch from regular mayonnaise to low fat or fat-free.
                                    <br>24.Parsnips look like white carrots. They are sweet and are a good source of fiber. Try them this fall; eat them raw on salads or bake them in the oven like fries.
                                   
                    </body>

                    <section  id="a3">
                        <div class="main">
                       <br><br><br> <h2><font size="40" color="red"><b>Eating Out Tips</b></font></h2>
                        <body>
                            <div style="width:100%;margin:(0px,0px);padding:0px; height:760px;background-image: url(\\static\\img\\wh.jpg);background-repeat:repeat-y;background-size:cover;">
                             <br>   Going out to eat is a fun family event.  With busy working parents, eating out is sometimes a necessity.  And restaurants offer another opportunity for parents <br>to teach children about healthy food choices and portion size control.

                                <br><br>With a few tips under your belt, you can guide your family to make healthier choices when you go to a restaurant or fast food place.  
                                
                                <br><br>Here are some eating out tips to help you and your family enjoy a fun but healthy experience with
                                helpful substition tips to make your meal healthier
                                <br>some strategies on <br>control portion sizes that are often too big for adults let alone children
                                have an enjoyable and healthy experience<br><br>
                                 
                                List of Tips To Help Children and Families Make Healthier Food Choices and Control Portions When Eating Out In A Restaurant.<br><br>
                                 
                               1.When you are eating out, agree on at least 1 healthy substitution with your child<br>
                                2.Choose lean meats such as chicken breast, lean ham or roast beef, instead of salami or bacon.<br>
                                3.Avoid foods that are breaded and deep-fried. They are high in fat and calories.<br>
                                <br>  4.Talk to your child before ordering a meal and give them a choice of milk, 100% juice or water instead of soda.
                                <br> 5.Choose baked chips or pretzels instead of regular potato chips.
                                <br> 6.Show your child how to make healthy choices when you are on the run.
                                <br>  7.At restaurants, say no to the bread and the chips.
                                <br>  8.Most restaurant entrees are enough for two people to eat. Order the regular size and split the order and share it.
                                <br>  9.When planning an outing to the zoo or park, pack up washed nectarines, peanut butter and jelly sandwiches and water.
                                <br>  10.Watch out for these high fat words: battered, bottomless, breaded, buttery, cheesy, creamy, crispy and fried.
                                <br>  11.Black beans are a better choice because they have less fat than refried beans
                                <br>  12.Choose grilled soft tacos or burritos instead of a crispy shell or gordita-type burritos
                                <br>  13.Ask for 100% whole wheat bread for sandwiches. Skip the higher fat, lower fiber croissants and biscuits
                                <br>  14.Choose water, milk or 100% fruit juice instead of soda
                                <br>  15.Drink nonfat or low fat milk or water instead of whole milk
                                <br>  16.Steamed brown rice has more nutrients and fewer calories than fried rice.
                                <br>  17.Be careful of restaurants salads they can contain 1000 calories.
                                <br>  18.Steamed brown rice has more nutrients and less calories than fried rice
                                <br>  19.Choose a regular, single patty hamburger without cheese and mayonnaise
                                <br>  20.Order prepared foods steamed, broiled, grilled, poached, or roasted- not fried
                                <br>  21.Sauces such as low sodium soy sauce, rice wine vinegar, wasabi, or ginger are better choices than sweet and sour sauce or coconut milk
                                <br>  22.Avoid foods with the words jumbo, giant, super sized or deluxe in the name.
                                <br>23.Let your child know that they can ask for food items prepared a specific way to make a meal healthier.
                                <br>  24.Use salsa and mustard instead of mayonnaise
                                <br> 25.Stir fried, steamed, roasted or broiled dishes are healthier choices than battered or deep fried.
                        </body>

                        <br><br><br><br><br><br><br><br><br>
                        <footer >
                          
                 
             
                         <div class="container">
                           <div class="row">
                           <table><tr><td>
                             <div class="col-xs-6 footer-para">
                               <p><font color="white">&copy;DEEKZ  All right reserved</font><font color="black">...............................................</font></p>
                               </div></td>
                               <td>
                             
                               
                               
                               <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                             
                           </td>
                           
                        
                           
                             <td>
                             
                               
                               
                                 <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                               
                               </td>
                              
                                     <td><center>
                                         <section  id="contactus">
                                       <div class="main">
                                         <h3></h3>
                                             Heal on You
                                                  
                                             
                                             
                                             <br><br>        Opp. Kadavanthra GCDA,
                                              <br><br>               S. A. Road, Kochi - 20.
                                             
                                                 
                                             
                                                 Phone : 0484 4073473
                                             
                                                  </a>
                                         
                                     
                                         </center></td>
                                         <td>
                             
                               
                               
                                             <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                           
                                         </td>
                                         <td>
                                               
                                                 
                                                 
                                         <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                       
                                       </td>
                                       <td>
                                               
                                                 
                                                 
                                         <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                       
                                       </td>
                                         <td>
                             
                               
                               
                                             <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                           
                                         </td>
                                         <td>
                                               
                                                 
                                                 
                                         <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                       
                                       </td>
                                       <td>
                                               
                                                 
                                                 
                                         <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                       
                                       </td>
                                       <td>
                             
                               
                               
                                           <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                         
                                       </td>
                                       <td>
                                             
                                               
                                               
                                       <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                     
                                     </td>
                                     <td>
                                             
                                               
                                               
                                       <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                                     
                                     </td>
                             <td>
                           
                             
                             <a href="source"><img src="static/img/fb.png" width="30px" height="30px"  alt="" class="img-responsive logo"></a>
                           
                           </td>
                           <td>
                             
                               
                               
                             <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                           
                         </td>
                         
                           <td>
                             
                               
                               
                                 <img src="static/img/twi.png" width="30px" height="30px"  alt="" class="img-responsive logo">
                               
                           </td>
                           <td>
                             
                               
                               
                             <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                           
                         </td>
                           <td>
                             
                             
                               
                               <a href="docpro"><img src="static/img/insta.png" width="30px" height="30px"  alt="" class="img-responsive logo"></a>
                             
                           </td>
                           </tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                           <tr><font color="black">..........</font></tr>
                       
                           </table>
                           </div>
                           </div>
                               
                           
                         </footer>
                     
                        </body>
                        </html>                 




                       