<html>
  <head>
        <script>
                function printalert(form){
                    debugger;
                    
                        alert(" Succesfully Sent")
            
                }
            
               </script>
    <style>
  
    
     
    footer
{
background-color:black;

}

* {
box-sizing: border-box;
}
    
    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    </style>
    
    <meta charset="utf-8">         
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    
    <header class="header header_style_01">
        <nav class="megamenu navbar navbar-default" style="background-color: black;">

        
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a href="index.html"><img src="static/img/mainlogo.png" width="90px" height="100px"  alt="" class="img-responsive logo"><img src="static/img/logo etstt.png" width="90px" height="40px"  alt="" class="img-responsive logo"></a>
    
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right hidden-md hidden-sm hidden-xs">
                       <br>
                    <ul class="nav navbar-nav navbar-right menu-top">

                        <li><a href="hospitalpage"><H4 style="color:white;"><font size="03">HOME</font></style></H4></a></li>

                        <li><a href="staffreg"><H4 style="color:white;"><font size="03">STAFF REGISTRAION</font></style></H4></a></li>

                        <li><a href="staffsignin"><H4 style="color:white;"><font size="03">STAFF LOGIN</font></style></H4></a></li>

                        <br><li><a href="source"><H4 style="color:red;"><font size="02"><font color="black">..................................................................................................</font>SIGN OUT</font></style></H4></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <body>
<div style="width:100%;margin:(0px,0px);padding:0px; height:785px;background: #fff;">
            
    <br><br><center> <H1 style="color:black;"><font color="red" size="05">HOSPITAL CONFIRMATION BOOKING</font></style></H1></center>
                
    <form  method="POST" onsubmit="return printalert(this)" enctype="multipart/form-data"  style="width:100%;padding:5px;">		
    {% csrf_token %}
    {% for d in data %}
    <center>
              
    <table style="width:750px" cellspacing="15" class="table" >       
    
    
    
    <img src="static/img/conf.gif" width="50px" height="50px">
    <tr>
        <td><b><font color="red">PRO</font></td>
         <td><input type="text" name="pro" required="" ></td><br>
            
            
            </tr>
            
    <tr>
    <td><b><font color="red">HOSPITAL NAME</font></td>
    <td><input type="text" name="hname" value="{{d.1}}"></td><br>
    
    
    </tr>
    <tr>
        <td><b><font color="red">DOCTOR NAME</font></td>
        <td><input type="text" name="dname" value="{{d.0}}"></td><br>
        
        
        </tr>
    
    <tr>
       <td><b><font color="red">DEPARTMENT</font></td>
        <td><input type="text" name="depname" value="{{d.2}}" ></td>
        
        
        </tr>
        <tr>
                <td><b><font color="red">USERNAME</font></td>
                 <td><input type="text" name="uname" value="{{d.3}}"></td>
                 
                 
                 </tr>
        <tr>
            <td><b><font color="red">BOOKING STATUS</font></td>
             <td><input type="text" name="bname" rrequired=""></td>
             
             
             </tr>
             <td><b><font color="red">DATE</font></td>
                <td><input type="text" name="db" value="{{d.5}}"></td>
                
                
                </tr>
                <td><b><font color="red">TIME</font></td>
                    <td><input type="text" name="time"value="{{d.6}}"></td>
                    
                    
                    </tr>
             <td><b><font color="red">TOKEN</font></td>
                <td><input type="text" name="tok" required=""></td>
                
                
                </tr>
             
       
    
    
      
     <tr>
     <td style="padding:10px,0px;float:left;"><b><font color="red">BOOKING INFO DETAILS</font><br></td>
     <td ><textarea name="msge" required="" rows="10" cols="70" colspan="3" style="width:250px;height:150px;float:left;" ></textarea></td>
     </tr>
    
    <tr>
        <td><td><center><input type="submit" value="submit"></center></td></td>
    </tr>
        
    <tr><td><font color="white">..............................................................................................................</font><a href="hospitalpage"><img src="static/img/backgif.gif" width="40px" height="40px" alt="" class="img-responsive logo"></a><font color="white">...</font>BACK TO PROFILE <font color="white">.......................................................................................</font></td></tr>       
                
                </table>
                </center>
                {% endfor %} 
            </form>
    
    </div>
    
    <br><br><br><br><br><br><br><br><br><br>
    <footer >
          
 

     <div class="container">
       <div class="row">
       <table><tr><td>
         <div class="col-xs-6 footer-para">
           <p><font color="white">&copy;DEEKZ  All right reserved</font><font color="black">...............................................</font></p>
           </div></td>
           <td>
         
           
           
           <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
         
       </td>
       
    
       
         <td>
         
           
           
             <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
           
           </td>
          
                 <td><center>
                     <section  id="contactus">
                   <div class="main">
                     <h3></h3>
                         Heal on You
                              
                         
                         
                         <br><br>        Opp. Kadavanthra GCDA,
                          <br><br>               S. A. Road, Kochi - 20.
                         
                             
                         
                             Phone : 0484 4073473
                         
                              </a>
                     
                 
                     </center></td>
                     <td>
         
           
           
                         <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                       
                     </td>
                     <td>
                           
                             
                             
                     <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                   
                   </td>
                   <td>
                           
                             
                             
                     <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                   
                   </td>
                     <td>
         
           
           
                         <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                       
                     </td>
                     <td>
                           
                             
                             
                     <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                   
                   </td>
                   <td>
                           
                             
                             
                     <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                   
                   </td>
                   <td>
         
           
           
                       <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                     
                   </td>
                   <td>
                         
                           
                           
                   <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                 
                 </td>
                 <td>
                         
                           
                           
                   <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                 
                 </td>
         <td>
       
         
         <a href="source"><img src="static/img/fb.png" width="30px" height="30px"  alt="" class="img-responsive logo"></a>
       
       </td>
       <td>
         
           
           
         <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
       
     </td>
     
       <td>
         
           
           
             <img src="static/img/twi.png" width="30px" height="30px"  alt="" class="img-responsive logo">
           
       </td>
       <td>
         
           
           
         <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
       
     </td>
       <td>
         
         
           
           <a href="docpro"><img src="static/img/insta.png" width="30px" height="30px"  alt="" class="img-responsive logo"></a>
         
       </td>
       </tr>
       <tr><font color="black">..........</font></tr>
       <tr><font color="black">..........</font></tr>
       <tr><font color="black">..........</font></tr>
       <tr><font color="black">..........</font></tr>
       <tr><font color="black">..........</font></tr>
       <tr><font color="black">..........</font></tr>
       <tr><font color="black">..........</font></tr>
       <tr><font color="black">..........</font></tr>
       <tr><font color="black">..........</font></tr>
   
       </table>
       </div>
       </div>
           
       
     </footer>
 
    </body>
    </html>