<html>

<script>
     function printalert(form){
		 debugger;
		 
         	alert("First name Updated Succesfully")

	 }

	</script>
<head>
            
  
    <style>
     
    footer
{
background-color:black;

}

* {
box-sizing: border-box;
}
    
    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    </style>
    
    <meta charset="utf-8">         
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    
    <header class="header header_style_01">
        <nav class="megamenu navbar navbar-default" style="background-color: black;">

        
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a href="index.html"><img src="static/img/mainlogo.png" width="90px" height="100px"  alt="" class="img-responsive logo"><img src="static/img/logo etstt.png" width="90px" height="40px"  alt="" class="img-responsive logo"></a>
    
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right hidden-md hidden-sm hidden-xs">
                       <br>
                    <ul class="nav navbar-nav navbar-right menu-top">
                            <li><H4 style="color:black;">.............</style></H4></a></li>
                        <li><a href="adminpage"><H4 style="color:white;"><font size="03">HOME</font></style></H4></a></li>

                       

                       

                        <li><a  href="addmedicinesstaff"><H4 style="color:white;"><font size="03">ADD MEDICINES</font></style></H4></a></li>
                        <li><a  href="addpricestaff"><H4 style="color:white;"><font size="03">ADD MEDI PRICE</font></style></H4></a></li>
                        <br><li><a href="source"><H4 style="color:red;"><font size="02"><font color="black">............................................................................................................................................</font>SIGN OUT</font></style></H4></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <body>
        
        
                       
                         
        <center>    
           <div style="width: 100%;height:60px;background-color: white;float: left;">
           </div>
           
           </center>
           

           </div><br><br>
</body>
                  
<body>
    <div style="width: 100%;height: 760px;background-color:black">
    
        <center>
        <br><div style="width: 95%;height: 740px;background-color: black">
        <center>    
        <div style="width: 30%;height:740px;background-color: white;float: left;">
              
               <center> 
               <table> 
             
        <br>
        <tr>
        <td><b>STAFF SETTING</b><br/><a href="admstaffedit" >        
        
        <img src="static/img/ads.gif" alt="" width="100" height="100" border="0"></a></td>
        
        
        <td> <b>VIEW BOOKING</b><br/><a href="viewadbook" >
        
         <img src="static/img/bl.gif" alt="" width="100" height="100" border="0"></a></td>
        
        </tr><br>
        <tr><td><font color="white">...</font></td></tr>
        <tr>
        
        <td><b><font color="white">,,......./..,</font> PATIENT MEDICINE <br><font color="white">,,..........//////....,</font> ORDER</b><br/><a href="adminviewmedi" >
        
        <font color="white">,.....................,,</font>  <img src="static/img/medi.gif" alt="" width="100" height="100" border="0"></a></td>
         
        </tr><br>
        <tr><td><font color="white">...</font></td></tr>
        <tr>
        <td><b><b><font color="white">,,...,......,</font> DETAILS-MEDICINE <br> <font color="white">,,.....//////../....,</font> BOOKING</b><br/><a href="tabtopat" >
        
        <font color="white">,.....................,,</font><img src="static/img/enter.gif" alt="" width="100" height="100" border="0"></a></td>
        
        </tr><br>
        
        
        <tr><td><font color="white">...</font></td></tr>
        
        
        
        
        <tr>
        <td><b><b><font color="white">,,...............,</font>VIEW FEEDBACK</b><br/><a href="viewfeedback" >
        
        <font color="white">,.....................,,</font><img src="static/img/viewfe.jpg" alt="" width="100" height="100" border="0"></a></td>
        
        </tr><br>
        
        
        
               
        </table>
        
        </center>             
           
           </div>
        


  
    
      <div style="width:100%;margin:(0px,0px);padding:0px; height:740px;background-image: url(\\static\\img\\de1.jpg);background-repeat:no-repeat;background-position:center;background-size:cover;">
                
          <br><br><center> <H1 style="color:black;"><font size="05">Please Enter Medicine Order Details</font></style></H1></center>
                      
          <form  method="POST" onsubmit="return printalert(this)" enctype="multipart/form-data"  style="width:100%;padding:5px;">		
          {% csrf_token %}
           
          <center>
                    
            <table style="width:750px;color:black;" cellspacing="10" class="table">       
          
          
          
          <img src="static/img/feed2.png" width="50px" height="50px">
          <tr>
              <td><b>USER NAME:</td>
               <td><input type="text" name="uname" value="{{uname}}"></td><br>
                  
                  
                  </tr>
                  
         
          <tr>
             <td><b>BOOKING ID:</td>
              <td><input type="text" name="book" required=""></td>
              
              
              </tr>
    
              <tr>
                  <td><b>DELIVERY ON:</td>
                   <td><input type="text" name="del" required=""></td>
                   
                   
                   </tr>
              
          
                   <tr>
                      <td style="padding:10px,0px;float:left;"><b>MEDICINES TO BE DELIVERED:<br></td>
                      <td ><textarea name="delm" required="" rows="10" cols="70" colspan="3" style="width:250px;height:150px;float:left;" ></textarea></td>
                      </tr>
                      
          <tr>
              <td><b>TOTAL:</td>
                <td><input type="text" name="total" required="" ></td>
               </tr>
              
         <td><b>PAYMENT MODE:</td>
          <td><input type="text" name="pay" required=""></td>
         </tr>
             
           
          
          <tr>
              <td><td><center><input type="submit" value="submit"></center></td></td>
          </tr>
              
                          
                      
                      </table>
                      </center>
                      
                  </form>
          
          </div>
    </center>
    
       
    </div>
    
    </center>
    </div>
    <br><br><br>
<footer >
               
      
  
    <div class="container">
      <div class="row">
      <table><tr><td>
        <div class="col-xs-6 footer-para">
          <p><font color="white">&copy;DEEKZ  All right reserved</font><font color="black">...............................................</font></p>
          </div></td>
          <td>
        
          
          
          <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
        
      </td>
      
   
      
        <td>
        
          
          
            <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
          
          </td>
         
                <td><center>
                    <section  id="contactus">
                  <div class="main">
                    <h3></h3>
                        Heal on You
                             
                        
                        
                        <br><br>        Opp. Kadavanthra GCDA,
                         <br><br>               S. A. Road, Kochi - 20.
                        
                            
                        
                            Phone : 0484 4073473
                        
                             </a>
                    
                
                    </center></td>
                    <td>
        
          
          
                        <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                      
                    </td>
                    <td>
                          
                            
                            
                    <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                  
                  </td>
                  <td>
                          
                            
                            
                    <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                  
                  </td>
                    <td>
        
          
          
                        <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                      
                    </td>
                    <td>
                          
                            
                            
                    <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                  
                  </td>
                  <td>
                          
                            
                            
                    <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                  
                  </td>
                  <td>
        
          
          
                      <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                    
                  </td>
                  <td>
                        
                          
                          
                  <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                
                </td>
                <td>
                        
                          
                          
                  <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                
                </td>
        <td>
      
        
        <a href="source"><img src="static/img/fb.png" width="30px" height="30px"  alt="" class="img-responsive logo"></a>
      
      </td>
      <td>
        
          
          
        <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
      
    </td>
    
      <td>
        
          
          
            <img src="static/img/twi.png" width="30px" height="30px"  alt="" class="img-responsive logo">
          
      </td>
      <td>
        
          
          
        <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
      
    </td>
      <td>
        
        
          
          <a href="docpro"><img src="static/img/insta.png" width="30px" height="30px"  alt="" class="img-responsive logo"></a>
        
      </td>
      </tr>
      <tr><font color="black">..........</font></tr>
      <tr><font color="black">..........</font></tr>
      <tr><font color="black">..........</font></tr>
      <tr><font color="black">..........</font></tr>
      <tr><font color="black">..........</font></tr>
      <tr><font color="black">..........</font></tr>
      <tr><font color="black">..........</font></tr>
      <tr><font color="black">..........</font></tr>
      <tr><font color="black">..........</font></tr>
  
      </table>
      </div>
      </div>
          
      
    </footer>

   </body>
   </html>
</body>
</html>
