<html>
    
    <head>
        

            <style>
              header
            {
                background-color: cadetblue;
            }
            * {
              box-sizing: border-box;
            }
            
            .column {
              float: left;
              width: 25%;
              padding: 3px;
            }
            footer
{
background-color:black;

}

* {
box-sizing: border-box;
}
            
            /* Clearfix (clear floats) */
            .row::after {
              content: "";
              clear: both;
              display: table;
            }
            </style>
            
            <meta charset="utf-8">         
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            </head>
            
            <header class="top-header" >
    
  
                    <div class="container">
                      <table>
                        <tr>
                          <td>
                              <a href="source"><font color="cadetblue">................</font><img src="static/img/mainlogo.png" width="60px" height="60px"  alt="" class="img-responsive logo"><br></a><font size="05"><font color="cadetblue"></font><b>HOY</b></font>
                          </td>
                          <td><img src="static/img/cadet.png" width="40px" height="40px"  alt="" class="img-responsive logo"></td>
                          <td><img src="static/img/cadet.png" width="40px" height="40px"  alt="" class="img-responsive logo"></td>
                          <td><img src="static/img/cadet.png" width="40px" height="40px"  alt="" class="img-responsive logo"></td>
                          <td><img src="static/img/cadet.png" width="40px" height="40px"  alt="" class="img-responsive logo"></td>
                          <td><img src="static/img/cadet.png" width="40px" height="40px"  alt="" class="img-responsive logo"></td>
                          <td><img src="static/img/cadet.png" width="40px" height="40px"  alt="" class="img-responsive logo"></td>
                          <td><img src="static/img/cadet.png" width="40px" height="40px"  alt="" class="img-responsive logo"></td>
                          <td><img src="static/img/cadet.png" width="40px" height="40px"  alt="" class="img-responsive logo"></td>
                          <td><img src="static/img/cadet.png" width="40px" height="40px"  alt="" class="img-responsive logo"></td>
                          <td>
                                 <img src="static/img/cus1.png" width="40px" height="40px"  alt="" class="img-responsive logo"><font size="01"><br><font color="cadetblue"></font><b>+91 9495954085 <br><font color="cadetblue"></font>CUSTOMER<br> <font color="cadetblue"></font>SUPPORT</b></a> <font color="cadetblue">..........................................</font>
                          </td>
                         
                          <td>
                              <font color="cadetblue">......................</font> <img src="static/img/docse.png" width="40px" height="40px"  alt="" class="img-responsive logo"><font size="01"><br><font color="cadetblue">..........................</font><b>SEARCH<br><font color="cadetblue">.........................</font>DOCTORS<br> <font color="cadetblue">...........................</font><font color="cadetblue">......</font></b></a>
                          </td>
                          <td>
                              <font color="cadetblue">................</font> <img src="static/img/hea5.png" width="40px" height="40px"  alt="" class="img-responsive logo"><font size="01"><br><font color="cadetblue">............................</font><b>HEALTH <br><font color="cadetblue">................................</font>TIPS<br> <font color="cadetblue">...........................</font><font color="cadetblue">......</font></b></a>
                          </td>
                        </tr>
                      </table>
                              
                        
                        </header>
    <body>
        
        
                       
                         
                     <center>    
                        <div style="width: 100%;height:60px;background-color: white;float: left;">
                        </div>
                        
                        </center>
                        
            
                        </div><br><br>
    </body>
                               
<body>
<div style="width: 100%;height: 780px;background-color:cadetblue">
           
             <center>
        <br><div style="width: 95%;height: 760px;background-color: cadetblue">
         <center>    
            <div style="width: 30%;height:760px;background-color: white;float: left;">
                   
                    <center> 
                    <table> 
                  
    <br>
    <tr>
      <td><b>ADMIN SETTING</b><br/><a href="adminedit" >        
            
            <img src="static/img/mypro.png" alt="" width="100" height="100" border="0"></a></td>
   </tr>
    <tr>
         <td> <b>VIEW BOOKING</b><br/><a href="viewbook" >
            
              <img src="static/img/viewbook.png" alt="" width="100" height="100" border="0"></a></td>
         
    </tr><br>
    <tr>
        
      <td><b>VIEW PATIENT MEDICINE ORDER</b><br/><a href="adminviewmedi" >
    
          <img src="static/img/his.png" alt="" width="100" height="100" border="0"></a></td>
          
</tr><br>

<td><b>ENTER MEDICINE ORDER BOOKED DETAILS</b><br/><a href="tantopat" >
    
  <img src="static/img/his.png" alt="" width="100" height="100" border="0"></a></td>
  
</tr><br>

     <tr>
        
         
    
 
    
   
   
    
   
     <tr>
         <td><b>VIEW FEEDBACK</b><br/><a href="viewfeedback" >
        
             <img src="static/img/viewfe.jpg" alt="" width="100" height="100" border="0"></a></td>
             
   </tr><br>
 
   
   
                    
     </table>
         
    </center>             
                
                </div>
                <div style="width:100%;margin:(0px,0px);padding:0px; height:760px;background-image: url(\\static\\img\\sy.jpg);background-repeat:no-repeat;background-position:center;background-size:cover;">
                
                    <center>
                   
                      <br><br><br>

              
            
		
              <form  method="POST" enctype="multipart/form-data"  style="width:100%;padding:5px;">		
                {% csrf_token %}
                 
                <center>
                          
                <table style="width:750px" cellspacing="20">       
                
                
                
                <br><br><br><br> <br><br><br><br> <br><br><br><br>
                <tr>
                    <td><b>USER NAME:</td>
                     <td><input type="text" name="uname" value="{{uname}}"></td><br>
                        
                        
                        </tr>
                        <br>
                        <tr>
                            <td><b>BOOKING ID:</td>
                             <td><input type="text" name="book" value="book"></td><br>
                                
                                
                                </tr>
                                <tr>
                                    <td><b>DELIVERY ON:</td>
                                     <td><input type="text" name="del" value="del"></td><br>
                                        
                                        
                                        </tr>
                                <br>
                                <tr>
                                    <td><b>STATUS:</td>
                                     <td><input type="text" name="staa" value="uname"></td><br>
                                        
                                        
                                        </tr>
                                        <br>
                        
                
               
                <tr>
                    <td><td><center><input type="submit" value="submit"></center></td></td>
                </tr>
                    
                                
                            
                            </table>
                            </center>
                            
                        </form>
                
                </div>
                <footer >
  

                    <div class="container">
                      <div class="row">
                      <table><tr><td>
                        <div class="col-xs-6 footer-para">
                          <p><font color="white">&copy;DEEKZ  All right reserved</font><font color="black">...............................................</font></p>
                          </div></td>
                          <td>
                        
                          
                          
                          <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                        
                      </td>
                      <td>
                        
                          
                          
                      <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                    
                  </td>
                  <td>
                        
                          
                          
                  <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                
                </td>
                <td>
                        
                          
                          
                  <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                
                </td>
                      <td>
                        
                          
                          
                      <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                    
                  </td>
                  <td>
                        
                          
                          
                  <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                
                </td>
                        <td>
                      
                        
                        <a href="source"><img src="static/img/fb.png" width="30px" height="30px"  alt="" class="img-responsive logo"></a>
                      
                      </td>
                      <td>
                        
                          
                          
                        <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                      
                    </td>
                    
                      <td>
                        
                          
                          
                            <img src="static/img/twi.png" width="30px" height="30px"  alt="" class="img-responsive logo">
                          
                      </td>
                      <td>
                        
                          
                          
                        <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                      
                    </td>
                      <td>
                        
                        
                          
                          <a href="docpro"><img src="static/img/insta.png" width="30px" height="30px"  alt="" class="img-responsive logo"></a>
                        
                      </td>
                      </tr>
                      <tr><font color="black">..........</font></tr>
                      <tr><font color="black">..........</font></tr>
                      <tr><font color="black">..........</font></tr>
                      <tr><font color="black">..........</font></tr>
                      <tr><font color="black">..........</font></tr>
                      <tr><font color="black">..........</font></tr>
                      <tr><font color="black">..........</font></tr>
                      <tr><font color="black">..........</font></tr>
                      <tr><font color="black">..........</font></tr>
                  
                      </table>
                      </div>
                      </div>
                          
                      
                    </footer>
                
                   </body>
                   </html>
        