
<html>
    
    <head>
        

           
         <style type="text/css">
	.TFtable{
		width:100%; 
		 
	}
	.TFtable td{ 
		padding:1px; border:#4e95f4 1px solid;
	}
        .TFtable th{ 
		padding:5px; border:turquoise 1px solid;
                background:turquoise;
	}
	/* provide some minimal visual accomodation for IE8 and below */
	.TFtable tr{
		background: #b8d1f3;
	}   
        .TFtable th{ 
		padding:7px; border:turquoise 1px solid;
                background:turquoise;
	}
        /*  Define the background color for all the EVEN background rows  */
	.TFtable tr:nth-child(even){
		background: #dae5f4;
	}
             
            footer
{
background-color:black;

}

* {
box-sizing: border-box;
}
            
            /* Clearfix (clear floats) */
            .row::after {
              content: "";
              clear: both;
              display: table;
            }
            </style>
            
            <meta charset="utf-8">         
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            </head>
            
            <header class="header header_style_01">
                <nav class="megamenu navbar navbar-default" style="background-color: black;">
        
                
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            
                            <a href="index.html"><img src="static/img/mainlogo.png" width="90px" height="100px"  alt="" class="img-responsive logo"><img src="static/img/logo etstt.png" width="90px" height="40px"  alt="" class="img-responsive logo"></a>
            
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right hidden-md hidden-sm hidden-xs">
                               <br>
                            <ul class="nav navbar-nav navbar-right menu-top">
        
                                <li><a href="profilee"><H4 style="color:white;"><font size="02">HOME</font></style></H4></a></li>
                                <li><a href="fingerpage"><H4 style="color:white;"><font size="02">ADD FINGERPRINT</font></style></H4></a></li>
        
                                <li><a href="healthtips"><H4 style="color:white;"><font size="02">HEALTH TIPS</font></style></H4></a></li>
        
                                <li><a href="dissym"><H4 style="color:white;"><font size="02">CANCER SYMPTOMS</font></style></H4></a></li>
        
                                <li><a href="selectmed" href="about.html"><H4 style="color:white;"><font size="02">ORDER MEDICINES</font></style></H4></a></li>
        
                                <li><a href="docpro"><H4 style="color:white;"><font size="02">SEARCH DOCTORS</font></style></H4></a></li>
                               
                                <li><a href="#contactus"><H4 style="color:white;"><font size="02">CONTACT US</font></style></H4></a></li>
                                <br><li><a href="source"><H4 style="color:red;"><font size="02"><font color="black">................................................................................................................................................................................................................</font>SIGN OUT</font></style></H4></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
    <body>
        
        
                       
                         
                     <center>    
                        <div style="width: 100%;height:60px;background-color: white;float: left;">
                        </div>
                        
                        </center>
                        
            
                        </div><br><br>
    </body>
                               
<body>
<div style="width: 100%;height: 800px;background-color:black">
           
             <center>
        <br><div style="width: 95%;height: 760px;background-color: cadetblue">
         <center>    
            <div style="width: 30%;height:760px;background-color: white;float: left;">
                   
                    <center> 
                    <table> 
                  
    
                        <tr>
                            <td><b><font size="02">USER SETTING<font color="white">.........</font>   </font></b><br/><a href="useredit" >        
                                  
                                  <img src="static/img/set.gif" alt="" width="100" height="100" border="0"></a></td>
                         
                          <br>
                          
                              
                                <td><b><font size="02">MY HISTORY</font></b><br/><a href="myhistory" >
                              
                                    <img src="static/img/his.gif" alt="" width="100" height="100" border="0"></a></td></tr>
                                    
                          <tr><td><font color="white">....</font></td></tr>
                          <tr>
                              
                              <td><b><font size="02">FILL MEDI INFO</font></b><br/><a href="fillhis" >
                            
                                  <img src="static/img/fill.gif" alt="" width="100" height="100" border="0"></a></td>
                                  
                        
                       
                          
                  <td><b><font size="02">ORDER STATUS</font></b><br/><a href="medibookdetails" >
                              
                    <img src="static/img/orde.gif" alt="" width="100" height="100" border="0"></a></td>
                    
                  </tr><br>
                  <tr><td><font color="white">....</font></td></tr>
                         
                          <tr>
                               <td><b><font size="02">BOOKING</font></b><br/><a href="docpro" >
                              
                                   <img src="static/img/bo.png" alt="" width="100" height="100" border="0"></a></td>
                         <br>
                         
                           
                              <td><b><font size="02">BOOKING STATUS</font></b><br/><a href="finalbook" >
                              
                                  <img src="static/img/boo.png" alt="" width="100" height="100" border="0"></a></td>
                        </tr><br>
                        <tr><td><font color="white">....</font></td></tr>
                          <tr>
                               <td><b><font size="02">VIEW BILL</font></b><br/><a href="mybill" >
                              
                                   <img src="static/img/view.gif" alt="" width="100" height="100" border="0"></a></td>
                                   
                         <br>
                         <td><b><font size="02">FEEDBACK</font></b><br/><a href="feed" >
                              
                          <img src="static/img/fee.gif" alt="" width="100" height="100" border="0"></a></td>
                          
                  </tr><br>
                  
                  
                       
                    
     </table>
         
    </center>             
                
                </div>
             
             
                <div style="width:100%;margin:(0px,0px);padding:0px; height:760px;background-image: url(\\static\\img\\mediwall9.jpg);background-repeat:no-repeat;background-position:center;background-size:cover;">
                
                     <center>
                   
                       
                        <h1><center><br><img src="static/img/set.gif" alt="sign up" width="100" height="100" border="0"></center>
                          <center> <p><font color="white" size="05">UPDATE YOUR PROFILE<p></font>
                          </center><font color="black"><font size="00">
                       
                       <form method=GET enctype="multipart/form-data"  style="width:100%;padding:5px;"><br>
                          {% csrf_token %}

                          {% for d in data %}
                          
                          
                           <table style="width:750px;color:black;" cellspacing="10" class="table">
                           <tr>
                           <td><font color="white"><b>FIRST NAME      :</font></td>
                           <td><input type="text" name="finame" value="{{d.0}}" readonly></td>
                           <td><a href='editfname?finame={{d.0}}&uid={{d.13}}'><img src="/static/img/upd.gif" width="40px" height="40px"></a></td>
                           </tr>
                          
                           <tr>
                           <td><font color="white"><b>SECOND NAME      :</font></td>
                           <td><input type="text" name="sename" value="{{d.1}}" readonly></td>
                           <td><a href='editsname?sename={{d.1}}&uid={{d.13}}'><img src="/static/img/upd.gif" width="40px" height="40px"></a></td>
                           </tr>
                      
                           <tr>
                           <td><font color="white"><b>USERNAME         :</font></td>
                           <td><input type="text" name="uname" value="{{d.2}}" readonly></td>
                           <td><a href='edituname?uname={{d.2}}&uid={{d.13}}'><img src="/static/img/upd.gif" width="40px" height="40px"></a></td>
                           </tr>
                           <tr>
                           <td><font color="white"><b>PASSWORD      :</font></td>
                           <td><input type="text" name="password" value="{{d.3}}" readonly></td>
                           <td><a href='editpass?password={{d.3}}&uid={{d.13}}'><img src="/static/img/upd.gif" width="40px" height="40px"></a></td>
                           </tr>
                           <tr>
                                <td><font color="white"><b>ADDRESS      :</font></td>
                                <td><input type="text" name="add" value="{{d.4}}" readonly></td>
                                <td><a href='editaddressname?add={{d.4}}&uid={{d.13}}'><img src="/static/img/upd.gif" width="40px" height="40px"></a></td>
                                </tr>
                               
                                <tr>
                                <td><font color="white"><b>PHONE NUMBER     :</font></td>
                                <td><input type="text" name="phno" value="{{d.6}}" readonly></td>
                                <td><a href='editphnum?phno={{d.6}}&uid={{d.13}}'><img src="/static/img/upd.gif" width="40px" height="40px"></a></td>
                                </tr>
                           
                                <tr>
                                <td><font color="white"><b>RELATIVES NAME         :</font></td>
                                <td><input type="text" name="rn" value="{{d.11}}" readonly></td>
                                <td><a href='editrelname?rn={{d.11}}&uid={{d.13}}'><img src="/static/img/upd.gif" width="40px" height="40px"></a></td>
                                </tr>
                                <tr>
                                <td><font color="white"><b>RELATIVES PHONE NUMBER      :</font></td>
                                <td><input type="text" name="rp" value="{{d.12}}" readonly></td>
                                <td><a href='editrelph?rp={{d.12}}&uid={{d.13}}'><img src="/static/img/upd.gif" width="40px" height="40px"></a></td>
                                </tr>
                           <tr><td></td></tr>
                           <tr>
                              
                                <tr><td><font color="white">YOUR USER ID NUMBER : {{d.13}}</font></td></tr>   
                           
                           </table>
                        
                          {% endfor %}
                          </form>

                         
         </div>
         <br><br>
                        
                      
                    
        </center>
    </div>

</center>
</div>
 </center> 
</div>
         <br><br><br>
         <footer >
           
  

          <div class="container">
            <div class="row">
            <table><tr><td>
              <div class="col-xs-6 footer-para">
                <p><font color="white">&copy;DEEKZ  All right reserved</font><font color="black">...............................................</font></p>
                </div></td>
                <td>
              
                
                
                <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
              
            </td>
            
         
            
              <td>
              
                
                
                  <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                
                </td>
               
                      <td><center>
                          <section  id="contactus">
                        <div class="main">
                          <h3></h3>
                              Heal on You
                                   
                              
                              
                              <br><br>        Opp. Kadavanthra GCDA,
                               <br><br>               S. A. Road, Kochi - 20.
                              
                                  
                              
                                  Phone : 0484 4073473
                              
                                   </a>
                          
                      
                          </center></td>
                          <td>
              
                
                
                              <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                            
                          </td>
                          <td>
                                
                                  
                                  
                          <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                        
                        </td>
                        <td>
                                
                                  
                                  
                          <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                        
                        </td>
                          <td>
              
                
                
                              <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                            
                          </td>
                          <td>
                                
                                  
                                  
                          <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                        
                        </td>
                        <td>
                                
                                  
                                  
                          <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                        
                        </td>
                        <td>
              
                
                
                            <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                          
                        </td>
                        <td>
                              
                                
                                
                        <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                      
                      </td>
                      <td>
                              
                                
                                
                        <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
                      
                      </td>
              <td>
            
              
              <a href="source"><img src="static/img/fb.png" width="30px" height="30px"  alt="" class="img-responsive logo"></a>
            
            </td>
            <td>
              
                
                
              <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
            
          </td>
          
            <td>
              
                
                
                  <img src="static/img/twi.png" width="30px" height="30px"  alt="" class="img-responsive logo">
                
            </td>
            <td>
              
                
                
              <img src="static/img/black.webp" width="30px" height="30px"  alt="" class="img-responsive logo">
            
          </td>
            <td>
              
              
                
                <a href="docpro"><img src="static/img/insta.png" width="30px" height="30px"  alt="" class="img-responsive logo"></a>
              
            </td>
            </tr>
            <tr><font color="black">..........</font></tr>
            <tr><font color="black">..........</font></tr>
            <tr><font color="black">..........</font></tr>
            <tr><font color="black">..........</font></tr>
            <tr><font color="black">..........</font></tr>
            <tr><font color="black">..........</font></tr>
            <tr><font color="black">..........</font></tr>
            <tr><font color="black">..........</font></tr>
            <tr><font color="black">..........</font></tr>
        
            </table>
            </div>
            </div>
                
            
          </footer>
      
         </body>
         </html>